.grey {
	background-color: #f2f2f2;
}

select {
	cursor: pointer;
}


.modal_content {
	padding: 20px;
	background-color: #fff;
	width: 350px;
	height: 300px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 3px;
	box-shadow: rgba(0,0,0, .1) 0 2px 10px;
}

.upl_button{
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  opacity: 0;
 }
 .upl_container{
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  opacity: 0;
 }

.modal_content form {
	margin-top: 30px;
	text-align: left;
}

.modal_content form input {
	padding: .5em;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	border: 2px solid #ddd;
	background: #fff;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.modal_content form input[type="submit"] {
	font-weight: 600;
	border-radius: 5em;
	border: 2px solid #000;
	padding: .4em 1.5em;
	width: 90px;
	margin: 0 auto;
}

.modal_content form input[type="submit"]:hover {
	background-color: #000;
	color: #fff
}

.adm_heading {
	font-size: 28px;
	margin-bottom: 14px;
}

.articles_table {
	width: calc(100% - 20px);
	/*table-layout: fixed;*/
}

.articles_table td {
	/*height: 50px;*/
	line-height: 50px;
	box-sizing:border-box;
	font-size: 12px;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	white-space: nowrap;
 	text-overflow: ellipsis;
}

.articles_table td:nth-child(1) {
	padding: 0;
}

.articles_table td:last-child {
	padding-right: 10px;
}

.articles_table tr.releasetime td {
	background-color: #f0f7dc;
}

.articles_table tr.releasetime td:nth-child(3) {
	background-image: url('/img/alarm.png');
	background-repeat: no-repeat;
	background-position: 125px;
}

.articles_table tr td:nth-child(3) {
	padding-right: 30px;
}

.articles_table td:first-child, .articles_table th:first-child, 
.users_table td:first-child, .users_table th:first-child,
.comments_table>tbody>tr>td:first-child, .comments_table th:first-child {
	width: 0px;
  	text-align: right;
  	box-sizing: border-box;
}

.articles_table td:nth-child(2), .articles_table th:nth-child(2) {
	padding-left: 20px;
	text-align: left;
/*	border-left: 2px solid #6fb510;*/
}
.articles_table td:nth-child(n+3), .articles_table th:nth-child(n+3) {
	width: 11%;
	padding: 0;
	text-align: left;
} 

.articles_table th, .users_table th, .comments_table th {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	background-color: #f5f5f5;
	height: 30px;
	padding-top: 7px;
	box-sizing:border-box;
}


.add_art, .articles_table a {
	color:#333;
	font-weight: 700;
	line-height: 20px;
}

.add_post_form {
	width: 100%;
	box-sizing:border-box;
	font-size: 14px;
	line-height: 18px;
}

.add_post_form label {
	display: block;
}

.add_post_form input, .add_post_form textarea, .mainpage_form input, .mainpage_form textarea{
	width: 702px;
	box-sizing:border-box;
}

.add_post_form input[type="checkbox"] {
	width: 0px!important;
}

.add_post_form input {
	height: 35px;
}

.add_post_form input[type=text] {
	font-size: 16px;
}

.add_post_form textarea {
	resize:none;
	font-size: 14px;
}

.add_post_form textarea[name="description"] {
	height: 60px;
}

.add_post_form textarea[name="text"] {
	height: 350px;
}

.admin-menu {
	position: fixed;
	width: 170px;
	background-color: #252525;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	font-family: arial;
}

.admin-menu ul a {
	height: 44px;
	box-sizing: border-box;
	line-height: 30px;
}

.admin-menu ul li:hover a {
	color:#fff;
	transition:250ms;
}

.menu-item-divided {
border-top: 1px solid #333;
}

.admin-menu ul li:nth-child(1) {
	color: #fff;
  	font-size: 20px;
  	border-bottom: 1px solid #333;
  	height: 56px;
  	color: #fff;
  	font-size: 20px;
  	border-bottom: 1px solid #333;
  	box-sizing: border-box;
  	padding: 17px;font-size: 18px;
  	font-weight: bold;
}

.content_wrapper {
	margin-left: 80px;
	width: auto;
	padding: 0px;
	font-family: arial;
}

.content_wide_padding {
	padding: 20px;
}

h2.adm_subheading {
	font-size: 16px;
	margin-bottom: 10px;
}

.user_data {
	font-size: 14px;
}

.user_data input, .user_data textarea {
	width: 350px;
	resize:none;
}
.user_data td {
	padding: 0 0 10px;
	vertical-align: top;
}
.user_data td.name {
	padding: 10px 20px 0;
	text-align: right;
}
.user_data #image {
	width: 128px;
	height: 128px;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 1px;
}

.user_data textarea {
	height: 100px;
}

.change-pass {
	width: 350px;
}

.admin-menu ul li {
	font-size: 15px;
	height: 44px;
}

.pure-menu-link {
	color: #959595;
	padding: 0;
  	padding-left: 17px;
  	padding-top: 6px;}


.pure-menu-active>.pure-menu-link, .pure-menu-link:focus {
	background-color: #363636;
	color: #fff;
}

.pure-menu-link:hover, .pure-menu-link:focus {
	background-color: #363636;
}

.pure-menu-link:hover {
	color: #333;
}

.pure-menu-link:hover a {
	color: #fff;
}
.articles_search_form select {
	font-size: 13px;
	line-height: 28px;
}

.articles_search_form input, .articles_search_form select:nth-child(n+2) {
	margin-left: 10px;
	font-size: 13px;
	height: 28px;
	padding: 0 10px!important;
}

#d {
	margin-left: 6px;
	width: 192px;
	background: url(../img/select_arr.svg)no-repeat #fff calc(100% - 8px);
  	cursor: pointer;
}

.add_art {
	float: right;
}

.dropzone{
	overflow: hidden;
}

.add_art div {
	width: 160px;
	height: 36px;
	box-sizing:border-box;
	text-align: center;
	color: #fff;
	background-color: #0078e7;
	border-radius: 5px;
	font-size: 14px;
	padding-top: 11px;
}

.articles_search_form {
	padding: 10px 20px;
	font-family: arial;
}

.art_top {
	position: fixed;
	top: 0;
	left: 80px;
	right: 0px;
	background-color: #f5f5f5;
	min-width: 810px;
	z-index: 10;
	font-family: arial;
}

.articles_wrapper {
	padding-top: 86px;
}

.projects_wrapper {
	/*padding-top: 86px;*/
	margin-top: 76px;
}

.articles_table td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

span.off {
	color: #ff6e82;
}

.edit_comeback {
	padding: 10px;
	height: 28px;
	border-bottom: 1px solid #ddd;
}

.content_wrapper.edit_edit {
	margin-left: 170px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.backbut {
	width: 130px;
	height: 28px;
	box-sizing:border-box;
	text-align: center;
	font-size: 14px;
	color: #252525;
	background-color: #ebebeb;
	line-height: 28px;
	border-radius: 4px;
	float: left;
	font-family: arial;
	opacity: .7;
}


.backbut:hover {
	opacity: 1;
}

.formleft {
	float: left;
	text-align: right;
	width: 90px;
	margin-right: 20px;
}

.formright {
	width: calc(100% - 120px);
	float: left;
}

.idsec .formright {
	padding-left: 7px;
}

.add_post_form a {
	color: #0080e3;
}

.fixed_options {
	border-top: 1px solid #dddddd;
	position: fixed;
	background-color: #fff;
	padding: 10px;
	box-sizing: border-box;
	bottom: 0px;
	right: 0px;
	left: 80px;
	z-index: 1001;
}

.rmv  {
	padding: 0;
	float: right;
	font-size: 14px;
}

.rmv input {
	width: 151px;
  	padding-top: 4px;
}

.formleft.padd {
	padding-top: 7px;
}

.pure-form select {
	width: 152px;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearance: none;
  	appearance: none!important;
  	background: url(../img/select_arr.svg)no-repeat #fff calc(100% - 8px);
  	cursor: pointer;
}

.paginator a {
	border-radius: 3px;
	color: #363636;
}

.paginator a:first-child {
	margin-left: 0px;
}


.paginator a.active {
	background-color: #ff4019;
}

.pure-form label {
	margin: 0;
}

.mar20, .pure-form label.mar20 {
	margin-bottom: 20px;
}

.mar30, .pure-form label.mar30 {
	margin-bottom: 30px;
}


.mar10, .pure-form label.mar10 {
	margin-bottom: 10px;
}

.mar6, .pure-form label.mar6 {
	margin-bottom: 6px;
}

.fieldset, .pure-form fieldset {
	padding: 0px;
}

.pure-form input, .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
	padding-left: 10px;
	height: 28px;
}

.pure-button {
	border-radius: 3px;
	height: 28px;
	line-height: 13px;
	font-size: 13px;
}

.adm_maintop {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e6e6e6;
	padding: 30px 40px 20px 0px;
}


.link_heading {
	color: #0080e3;
}

.main_arts {
  padding: 30px 40px 20px 0px;
}

.mainpage_form {
	font-size: 14px;
}

.art_top .users_table {
	border-top: 1px solid #ebebeb;
}

.users_table, .comments_table {
	width: 100%;
	min-width: 810px;
}

.users_table td:first-child, .users_table th:first-child {
	width: auto;
	text-align: left;
  	padding-left: 20px;
}

.users_table td:nth-child(2), .users_table th:nth-child(2) {
	width: 30%;
	min-width: 300px;
}

.users_table td:nth-child(3), .users_table th:nth-child(3) {
	width: 145px;
}

.users_table td:nth-child(4), .users_table th:nth-child(4) {
	width: 120px;
}

.users_table td {
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	border-bottom: 1px solid #ebebeb;
}

.search_comments select{
	width: 180px;
	margin-right: 10px;
	font-size: 14px;
}

.search_comments input {
	width: 250px;
	font-size: 14px;
}

.comments_table>tbody>tr>td:first-child, .comments_table th:nth-child(1) {
	width: 120px;
}

.comments_table td:nth-child(3), .comments_table th:nth-child(3) {
	width: 130px;
}

.comments_table td:nth-child(2) {
	padding-left: 10px;
	padding-right: 60px;
	position: relative;
}


.comments_table td:nth-child(4), .comments_table th:nth-child(4) {
	width: 75px;
}

.comments_table td {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	font-size: 14px;
	line-height: 20px;
}

.comments_table tr.unblocked a, .comments_table tr.unblocked td:nth-child(3) {
	color: #0080e3;
}

.comments_table tr.blocked{
	color: #ff4019;
}

.comments_table tr.whitelist{
	color: #8dc63f;
}

.comments_table tr a.block, .comments_table tr a.unblock {
	color: #0080e3;
}

.ban_details {
	font-size: 14px;
	min-width: 710px;
}


.comments_table tr.unblocked .block_dets_shown {
	display: none;
}

.comments_table tr.blocked .block_dets_shown {
	display: block;
}

.comments_table tr.unblocked.whitelist .block_dets_shown {
	display: block;
}

.comments_table tr.unblocked.whitelist .block_dets_shown #whenhead, .comments_table tr.unblocked.whitelist .block_dets_shown #when {
	display: none;
}


.comments_table tr.unblocked a.unblock {
	display: none;
}

.comments_table tr.blocked a.block {
	display: none;
}

.comments_table tr:hover td {
	background-color: rgb(247, 247, 247);
}

.block_dets_shown td{
	padding: 0px;
	border: none;
}

.block_dets_shown td:first-child {
	width: 180px;
}

.redactor-box {
	cursor: text;
}

.hotkeys {
	width: 160px;
	box-sizing:border-box;
	padding: 20px;
	background-color: #fffcd3;
	position: absolute;
	right: -103px;
	bottom: -250px;
	z-index: 5;
	font-size: 12px;
	line-height: 15px;
	text-align: left;
}

.hotkeyslink.clicked {
	color: #ff4019;
}

.admin-menu ul li.newarticle {
	font-size: 11px;
	height: 44px;
	line-height: 32px;
}

tr.selected td {
	background-color: #fffcd3;
}

tr.selected:hover td {
	background-color: #fffcd3;
}

.comments_buttons button {
	height: 37px;
	font-size: 14px;
	margin-left: 10px;
}

.comments_buttons button:first-child {
	margin-left: 0;
}

.comments_buttons button:last-child {
	float: right;
}

.comments_buttons button.disabled {
	background-color: #cccccc;
	pointer-events: none;
}

.comments_buttons button.disabled:hover {
	background-image: none;
}

.modal_back {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	transition: 250ms;
	
}

.modal_back.shown {
	background-color: rgba(0, 0, 0, .25);
	
}

.modal {
	position: relative;
	background-color: #fff;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 40%;
	transform: translateY(-50%);
	opacity: 0;
	transition: all 250ms;
	padding: 30px;
	box-sizing:border-box;
}

.modal_status {
	width: 625px;
}

.modal.shown{
	top: 50%;
	opacity: 1;
}

.modal_heading {
	float: left;
	font-size: 16px;
}

.modal_close {
	float: right;
	width: 13px; 
	height: 13px;
	background-image: url('/img/close.png');
	cursor: pointer;
}

.modal_form textarea {
	width: 100%;
	resize: none;
	font-size: 14px;
	padding: 12px 14px;
	box-sizing:border-box;
}

.block_form textarea {
	height: 67px;
	margin-top: 28px;
}

.modal_buttons {
	margin-top: 20px;
}

.modal_form button {
	font-size: 14px;
	height: 37px;
}

.block_form button {
	width: 130px;
	margin-right: 20px
}

.modal_edit {
	width: 625px;
}

.edit_form textarea {
	height: 100px;
	margin-top: 20px
}

.comments_table.has_comments tr {
	cursor: pointer;
}

.note_wr {
  position: fixed;
  top: -37px;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  min-height: 37px;
  font-size: 14px;
  text-align: center;
  z-index: 9999;
  opacity: 0;
  transition:250ms;
}

.note_wr.shown {
	opacity: 1;
	top: 0px;
}

.note_bl {
  color: #414141;
  background: #FFD019;
  border-radius: 0px 0px 5px 5px;
  min-height: 37px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px 20px 10px 20px;
}

.logic_section {
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

.logic_section:last-child {
	border-bottom: none;
}

.logic_section.gray {
  background-color: #f7f7f7;
}

.add_post_form select {
  width: 220px;
}

.status_checkboxes {
	float: right;
	margin-top: 6px;
}

.status_checkboxes .check_item {
	float: left;
	margin-right: 20px;
}

.status_checkboxes .check_item:last-child {
	margin-right: 10px;
}

.checkwrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.checkwrapper .checkbox {
	opacity: 0;
	position: absolute;
	width: 0;
}

.checkwrapper .checkbox + label {
	width: 50px;
	height: 26px;
	position: relative;
	background-color: #e1e1e1;
	display: inline-block;
	border-radius: 4px;
	padding: 2px;
	box-sizing:border-box;
	transition: 250ms;
	cursor: pointer;
}

.checkwrapper .checkbox:checked + label {
	background-color: #8dc63f;
}

.checkwrapper .checkbox + label:before {
	width: 22px;
	height: 23px;
	background-color: #fff;
	border-radius: 2px;
	content: " ";
	position: absolute;
	left: 2px;
	transition:250ms;
}

.checkwrapper .checkbox:checked + label:before {
	left: 26px;
}

.checkwrapper.smallcheck .checkbox + label {
	width: 34px;
	height: 19px;
	padding: 1px;
	border-radius: 2px;
}

.checkwrapper.smallcheck .checkbox + label:before {
	width: 16px;
	height: 17px;
	left: 1px;
}

.checkwrapper.smallcheck .checkbox:checked + label:before {
	left: 17px;
}

.check_item span {
	position: relative;
	top: -9px;
	font-size: 14px;
	margin-right: 10px;
}

.check_item.status_check {
	padding-right: 20px;
	border-right: 1px dashed #e1e1e1;
}

.redactor-toolbar li a:hover {
	border:none;
}

.clear {
	clear: both;
}

.paginator a {
	width: 37px;
	height: 37px;
	box-sizing:border-box;
	line-height: 37px;
	text-align: center;
	padding: 0;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
	border-radius: 3px;
	color: #363636;
}

.paginator a.active {
	background-color: #e1e1e1;
	color: #252525;
}

.articles_table td:nth-child(2), .articles_table th:nth-child(2) {
  max-width: 600px;
  min-width: 600px;
}

tr {
	background-color: #fff;
}

.articles_table td:nth-child(3), .articles_table th:nth-child(3) {
  /*min-width: 170px;*/
  /*padding-left: 0;*/
  text-align: left;
}

.articles_table td:nth-child(3), .articles_table th:nth-child(3) {
  /*width: 170px;*/
  /*padding-left: 0;*/
}

.articles_table td:nth-child(4), .articles_table th:nth-child(4) {
  width: 113px;
  min-width: 113px;
  padding-left: 10px;
}

.articles_table td:nth-child(5), .articles_table th:nth-child(5) {
  width: 90px;
}

.articles_table td:nth-child(6), .articles_table th:nth-child(6) {
  width: 81px;
}


.bank_analysis {
	width: 650px;
	margin-top: 20px;
	display: none;
}

.bank_analysis td {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 20px;
	border-top: 1px solid #ddd;
	vertical-align: middle;
}

.bank_analysis tr:last-child td {
	padding-bottom: 0;
}

.bank_analysis td:first-child {
	width: 40px;
}

.bank_analysis td:nth-child(2) {
	width: 565px;
	box-sizing:border-box;
	padding-right: 20px;
}

.bank_analysis td:nth-child(3) {
	width: 45px;
}

.quotes_table td:last-child, .quotes_table th:last-child {
	width: 75px;
}

.quotes_table td:nth-child(3), .quotes_table th:nth-child(3) {
	width: 235px;
}

.quote-form {
	margin-top: 30px;
}

.quote-form input, .bank-form input {
	width: 860px;
}

.art_top .articles_table {
	border-top: 1px solid #ebebeb;
}

.add_post_form.posterform input, .add_post_form.posterform textarea, .add_post_form.posterform .redactor-box {
	width: 742px;
}

.add_post_form.posterform label.event_dates input{
	width: 140px;
}

.bank-form .redactor-box {
	width: 860px;
}

#datetimepicker, #date_from, #date_until, #datepicker, #fake-datepicker {
	background: url(../img/select_arr.svg)no-repeat #fff calc(100% - 8px);
  	cursor: pointer;
}

#datepicker, #fake-datepicker {
	font-family: arial;
	font-weight: normal;
	padding-left: 10px;
}

.afisha_table td:nth-child(1), .afisha_table th:nth-child(1) {
	width: 50px;
}

.afisha_table td:nth-child(3), .afisha_table th:nth-child(3) {
	width: 160px;
}

.afisha_table td:nth-child(2), .afisha_table th:nth-child(2) {
	padding-left: 20px;
}

.adm_buffer {
	height: 57px;
}

.art_top form {
	height: 50px;
	box-sizing:border-box;
}

.froala-wrapper {
	font-size: 18px;
  	font-family: 'calibri', sans-serif;
}

.projlist_top {
	border-bottom: 1px solid #ccc;
}

.projects_table td {
	position: relative;
}

.projects_table td:nth-child(4) a, .rubrics_table td:nth-child(2) a {
	margin-right: 10px;
}

.projects_table td:nth-child(4), .projects_table th:nth-child(4) {
	width: 176px;
}

.rubrics_table td:nth-child(1), .rubrics_table th:nth-child(1), .rubrics_table td:nth-child(2), .rubrics_table th:nth-child(2) {
	width: 50%;
	text-align: left;
	padding-left: 20px;
}

.rubrics_list_heading {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font-weight: bold;
}

.froala-element.f-placeholder+span.fr-placeholder {
	display: none!important;
}

#redactor-modal-box footer {
	min-width: initial;
}

.btn-review,
.btn_browsing {
	background: url(/img/review-eye.png) no-repeat 15px 10px;
	opacity: .7;
	color: #999;
}

.btn-review:hover,
.btn_browsing:hover {
	opacity: 1;
	color: #999;
}

.btn-delete:hover {
	opacity: 1;
	color: #999;
}

/* BEAUTIFUL WHITE LOADER */
.bwl_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .9);
	-webkit-animation-duration: .5s;
  	animation-duration: .5s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	-webkit-animation-name: fadeIn;
  	animation-name: fadeIn;
  	top: 0;
  	left: 0;
  	z-index: 1000;
}

.bwl_bg.upload_bwl {
	background-color: rgba(0, 128, 227, .7);
}

.bwl_content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	-webkit-animation-name: slideInDown;
  	animation-name: slideInDown;
  	-webkit-animation-duration: .5s;
  	animation-duration: .5s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	padding-top: 60px;
  	margin-top: -50px;
}

.bwl_processing {
	font-size: 22px;
	color: #252525;
}

.bwl_uploading {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 50px;
	color: #fff;
}

.bwl_ok {
	font-size: 22px;
	color: rgba(111, 181, 16, 1)
}

.bwl_upcancel {
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .15);
	transition:250ms;
	margin: 0 auto;
}

.bwl_upcancel:hover {
	background-color: rgba(255, 255, 255, .3);
}

@-moz-keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 3em 0 0 0, rgba(0, 0, 51, 0.3) 2.2em 2.2em 0 0, rgba(0, 0, 51, 0.3) 0 3em 0 0, rgba(0, 0, 51, 0.3) -2.2em 2.2em 0 0, rgba(0, 0, 51, 0.3) -3em 0 0 0, rgba(0, 0, 51, 0.3) -2.2em -2.2em 0 0, rgba(0, 0, 51, 0.3) 0 -3em 0 0, rgba(0, 0, 51, 0.3) 2.2em -2.2em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 3em 0 0 0, rgba(0, 0, 51, 0.3) 2.2em 2.2em 0 0, rgba(0, 0, 51, 0.3) 0 3em 0 0, rgba(0, 0, 51, 0.3) -2.2em 2.2em 0 0, rgba(0, 0, 51, 0.3) -3em 0 0 0, rgba(0, 0, 51, 0.3) -2.2em -2.2em 0 0, rgba(0, 0, 51, 0.3) 0 -3em 0 0, rgba(0, 0, 51, 0.3) 2.2em -2.2em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 3em 0 0 0, rgba(0, 0, 51, 0.3) 2.2em 2.2em 0 0, rgba(0, 0, 51, 0.3) 0 3em 0 0, rgba(0, 0, 51, 0.3) -2.2em 2.2em 0 0, rgba(0, 0, 51, 0.3) -3em 0 0 0, rgba(0, 0, 51, 0.3) -2.2em -2.2em 0 0, rgba(0, 0, 51, 0.3) 0 -3em 0 0, rgba(0, 0, 51, 0.3) 2.2em -2.2em 0 0;
    font-size: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 100%;
    box-sizing:border-box;
}

.spinner-uploader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -moz-box-shadow: rgba(255, 255, 255, 1) 3em 0 0 0, rgba(255, 255, 255, 1) 2.2em 2.2em 0 0, rgba(255, 255, 255, 1) 0 3em 0 0, rgba(255, 255, 255, 1) -2.2em 2.2em 0 0, rgba(255, 255, 255, 1) -3em 0 0 0, rgba(255, 255, 255, 1) -2.2em -2.2em 0 0, rgba(255, 255, 255, 1) 0 -3em 0 0, rgba(255, 255, 255, 1) 2.2em -2.2em 0 0;
    -webkit-box-shadow: rgba(255, 255, 255, 1) 3em 0 0 0, rgba(255, 255, 255, 1) 2.2em 2.2em 0 0, rgba(255, 255, 255, 1) 0 3em 0 0, rgba(255, 255, 255, 1) -2.2em 2.2em 0 0, rgba(255, 255, 255, 1) -3em 0 0 0, rgba(255, 255, 255, 1) -2.2em -2.2em 0 0, rgba(255, 255, 255, 1) 0 -3em 0 0, rgba(255, 255, 255, 1) 2.2em -2.2em 0 0;
    box-shadow: rgba(255, 255, 255, 1) 3em 0 0 0, rgba(255, 255, 255, 1) 2.2em 2.2em 0 0, rgba(255, 255, 255, 1) 0 3em 0 0, rgba(255, 255, 255, 1) -2.2em 2.2em 0 0, rgba(255, 255, 255, 1) -3em 0 0 0, rgba(255, 255, 255, 1) -2.2em -2.2em 0 0, rgba(255, 255, 255, 1) 0 -3em 0 0, rgba(255, 255, 255, 1) 2.2em -2.2em 0 0;
    font-size: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 100%;
    box-sizing:border-box;
}

.spinner-ok {
	width: 20px;
	height: 20px;
	margin: 60px;
	display: inline-block;	
}

.spinner-ok, .spinner-loader {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
