body{
	word-break: break-word;
	font-family: Arial;
	background-color: #ececec;
	min-width: 1280px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

body p {
	font-weight: normal;
}

.inner_controls{
	float: left;
	width: 140px;
}
.article_block_controls{
	display: none;
}
.body_1_4 .article_block_no_controls{
	display: none;
}
.remove{
	background-image: url(/img/1576/remove_icon.png);
	width: 30px;
	height: calc(50% - 5px);
	border: 1px solid #c2c2c2;
	background-color: #fff;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 10px;
	cursor: pointer;
}
/*.no_poster{
	background-image: url(/img/1576/no_poster_icon.png);
}*/
.no_poster_opacity{
	background-image: url(/img/1576/no_poster_icon.png)!important;
	opacity: .5;
}
.inside_text{
	background-image: url(/img/1576/inside_text_icon.png)!important;
}
.no_poster{
	background-image: url(/img/1576/no_poster_icon.png)!important;
}
.poster_ico{
	background-image: url(/img/1576/outside_text_icon.png);
	width: 30px;
	height: calc(50% - 5px);
	border: 1px solid #c2c2c2;
	background-color: #fff;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.article_rm_icon {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background-image: url(/img/1576/remove_icon.png);
	background-repeat: no-repeat;
	background-position: 10px;
	cursor: pointer;
}
.info{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 11px;
	color: #898989;
}

.article_controls{
	width: 40px;
	height: 100%;
	float: right;
	padding-left: 5px;
	box-sizing: border-box;
	background-color: #fff;
}

.sortable_handler{
	height: 20px;
	background-color: #fff;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	cursor: pointer;
}

.block{
	cursor: pointer;
}

.controls_1{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #c2c2c2;
	text-align: center;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 20px;
}
.controls_1_2{
	display: block;
	height: 20px;
	width: calc(100% / 2);
	margin-bottom: 10px;
	border: 1px solid #c2c2c2;
	text-align: center;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 20px;
}
.controls_1_3{
	display: block;
	height: 20px;
	width: calc(100% / 3);
	margin-bottom: 10px;
	border: 1px solid #c2c2c2;
	text-align: center;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 20px;
}
.controls_1_4{
	display: block;
	height: 20px;
	width: calc(100% / 4);
	margin-bottom: 10px;
	border: 1px solid #c2c2c2;
	text-align: center;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 20px;
}
.right_side{
	width: 370px;
	height: 100%;
	background-color: #ededed;
    margin-right: 5px;
}


.right_side .article_block{
	line-height: 15px;
}

.article_block{
	border: 1px solid #dddddd;
	padding: 10px;
	font-size: 14px;
	line-height: 10px;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.left_side{
	float: left;
	width: calc(100% - 410px);
	padding: 0 20px;
	box-sizing: border-box;
	background-color: #ededed;
	/*overflow: hidden;*/
	/*overflow-y:scroll;*/
	top: 0px;
}

.left_side_left_scroll{
	overflow-y:	scroll;
}

.rmv input {
    width: 90px;
    padding: 0;
    text-align: right;
    margin-left: 30px;
}

.btn-delete {
    background: url(/img/btn-close.png) no-repeat 6px 8.5px;
}

.btn_browsing {
    color: #999;
    float: right;
    width: 90px;
    padding: 0;
    text-align: right;
    position: relative;
    line-height: 28px;
}

.btn-ribbon:after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: #e1e1e1;
    position: relative;
    left: 70px;
    top: -23px!important;
}

.add_post_form input,
.user_data input,
.user_data select {
	padding: 0 10px!important;
	height: 35px!important;
}

.shadow_button,
#cur_pwd  {
	font-size: 13px;
}

.btn_browsing {
    background: url(/img/review-eye.png) no-repeat 20px 9px;
    text-decoration: none;
}

.main_block{
	/*min-width: 750px;*/
	padding: 20px;
	background-color: #fff;
	margin-bottom: 10px;
	height: 150px;
	box-sizing: border-box;
	position: relative;
}
.admin_main{
	padding-top: 20px;
	padding-left: 80px; 
}
.add{
	position: absolute;
	left: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #B3ABAB;
	padding: 14px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.save{
	position: absolute;
	left: 20px;
	top: 7%;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #B3ABAB;
	padding: 14px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.inner_body{
	height: 100%;
	width: calc(100% - 190px);
	float: left;
	margin-left: 10px;
}

.inner_placeholder{
	height: 100%;
	width: 100%;
	display: none;
}
.body_1{
	background-color: #fff;
	height: 100%;
	float: right;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5px 0 5px;
}
.body_1 .name{
	padding-top: 10px;
	font-size: 18px;
	line-height: 18px;
	font-family: Arial;
	font-weight: bold;
}
.body_1_2 .name,
.body_1_3 .name{
	padding-top: 10px;
	font-size: 14px;
	line-height: 15px;
	font-family: Arial;
	font-weight: bold;
}
.body_1_4 .name{
	padding-top: 5px;
	font-size: 12px;
	line-height: 15px;
	font-family: Arial;
	font-weight: bold;
}
.name:hover{
	color: red;
	transition: 250ms;
}
.body_1_2{
	background-color: #fff;
	height: 100%;
	float: left;
	width: calc(100% / 2);
	padding: 0 5px 0 5px;
	box-sizing: border-box;
}
.body_1_2 .article_block_controls{
	display: block;
	padding: 5px;
	height: 40px;
	margin: -11px -11px 0 -11px;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	font-family: Arial;
	font-weight: bold;
}
.body_1 .article_rm_icon, 
.body_1_2 .article_rm_icon, 
.body_1_3 .article_rm_icon, 
.body_1_4 .article_rm_icon{
	display: block;
}
.body_1 .article_block_no_controls, 
.body_1_3 .article_block_no_controls, 
.body_1_4 .article_block_no_controls{
	display: block;
}
.body_1 .article_block, 
.body_1_2 .article_block, 
.body_1_3 .article_block, 
.body_1_4 .article_block{
	border: 1px solid #dddddd;
	font-size: 14px;
	line-height: 10px;
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	box-sizing: border-box;
	margin-top: -1px;
	margin-left: -1px;
	background-color: #fff;
}
.article_block_no_controls{
	display: none;
	height: 40px;
	margin: -11px -11px 0 -11px;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
}

.selected{
	background-color: #dddddd !important;
}

.article_block_controls span {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #dddddd;
	cursor: pointer;
}
.article_block_controls span:nth-child(2){
	margin-left: -5px;
}

.body_1_3{
	height: 100%;
	width: calc(100% / 3);
	float: left;
	background-color: #fff;
	padding: 0 5px 0 5px;
	box-sizing: border-box;
}
.body_1_4{
	height: 100%;
	width: calc(100% / 4);
	float: left;
	background-color: #fff;
	padding: 0 5px 0 5px;
	box-sizing: border-box;
}
.placeholder{
	width: 100%;
	height: 100%;
	border: 1px dotted #c2c2c2;
	box-sizing: border-box;
	transition: 250ms;
}
html, body {
	-webkit-user-select: none;
}
.used{
	background-color: #c2c2c2;
}
.visible{
	display: block;
}
.body1_2_1_4{
	background-color: #fff;
	height: calc(100% + 3px);
	width: calc(100% + 2px);
	box-sizing: border-box;
	margin: -1px;
}
.body_1_4_controls{
	height: 40px;
	padding: 5px;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	font-family: Arial;
	font-weight: bold;
}
.body_1_4_controls span {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #dddddd;
	cursor: pointer;
}
.body_1_4_controls span:nth-child(2){
	margin-left: -5px;
}
.splitted{
	width: calc(100% / 2);
	height: calc(100% - 40px);
	padding: 0;
	margin-top: -1px;
}

.splitted .name {
	margin-top: -5px;
}

.splitted .article_block_no_controls,
.splitted .article_block_controls {
	display: none;
}
.splitted .article_block{
}

.right_side .article_block {
	height: 75px;
	width: 370px;
	padding: 15px 10px;
	margin-bottom: 5px;
	border: none;
	background-color: #fff;
}
.shadow{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:	2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:			2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	z-index: 10;
}
.solid_border{
	border: 1px solid #c2c2c2;
	transition: 250ms;

}
.designed{
	height: 150px;
	display: block !important;
	background-color: #c2c2c2;
	border-radius: 5px;
}

.bank_text {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	padding-top: 35px;
	font-weight: bold;
}
.panel{
	position: fixed;
	width: calc(100% - 80px);
	left: 80px;
	top: 0;
	height: 50px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 20px;
	box-sizing: border-box;
	z-index: 2;
}
.button{
	height: 28px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 28px;
	font-size: 13px;
	color: #fff;
	border-radius: 3px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	font-weight: normal;
}
.blue {
	background-color: #0080e3;
}

.blue:hover  {
	opacity: 1;
}

.green {
	background-color: #35aa47;
}

.green:hover {
	opacity: 1;
}

.border{
	height: 22px;
	float: left;
	border-left: 1px solid #e1e1e1;
	padding-left: 10px;
	margin-top: 3px;
}
.visor_img{
	float: left;
	padding-top: 4px;
	padding-right: 5px;
}
.visor{
	float: right;
}
.view{
	float: right;
	padding: 10px;
	color: #898989;
	font-size: 13px;
	line-height: 18px;
	box-sizing: border-box;
	margin-top: -5px;
}

.backbut {
	opacity: .7!important;
	transition: all .250s;
	-webkit-transition: all .250s;
	-moz-transition: all .250s;
	-o-transition: all .250s;
}

.pure-button:hover,
.button:hover,
.edit_ctrl:hover,
.btn-xml:hover {
	opacity: .7!important;
	transition: all .250s;
	-webkit-transition: all .250s;
	-moz-transition: all .250s;
	-o-transition: all .250s;
}

.pure-button,
.button,
.edit_ctrl,
.btn-xml {
	opacity: 1!important;
	transition: all .250s;
	-webkit-transition: all .250s;
	-moz-transition: all .250s;
	-o-transition: all .250s;
}

.backbut:hover {
	opacity: 1!important;
	transition: all .250s;
	-webkit-transition: all .250s;
	-moz-transition: all .250s;
	-o-transition: all .250s;
}

.datepicker{
	height: 30px;
	width: 160px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #ccc;
	float: right;
	padding: 5px 10px;
	padding-right: 22px;
	background: url(../img/select_arr.svg)no-repeat #fff calc(100% - 8px);
    cursor: pointer;
}

.err {
	border: 1px solid red;
}

.disactive {
	opacity: .7;
}

.disactive:hover {
	opacity: 1;
}

.btn_browsing.disactive {
	opacity: .3;
	cursor: default;
}

.hided{
	display: none;
}

.keyword{
	height: 30px;
	width: 372px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 18px;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select {
	min-width: 60px;
}

.save-notif{
	position: fixed;
	width: 220px;
	font-weight: bold;
	height: 30px;
	right: 50%;
	margin-right: -110px;
	border-radius: 0 0 5px 5px;
	z-index: 5;
	background-color: #35aa47;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	opacity: 0;
}
.inout {
	-webkit-animation: inout 2s linear; /* Chrome, Safari, Opera */ 
	animation: inout 2s linear;
}
@-webkit-keyframes inout {
	0%   {opacity: 0;}
	25%  {opacity: 1;}
	75%  {opacity: 1;}
	100% {opacity: 0;}
} 
/* Standard syntax */ 
@keyframes inout {
	0%   {opacity: 0;}
	25%  {opacity: 1;}
	75%  {opacity: 1;}
	100% {opacity: 0;}
}

/*MENU*/

.admin-menu ul li {
	list-style: none;
}

.admin-menu {
	width: 80px;
}

.admin-menu ul li,
.menu-item-divided {
	border-bottom: none!important;
	border-top: none!important;
}

.pure-menu-item > a {
	width: inherit!important;
	height: inherit!important;
	display: block;
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,.1);
	opacity: .5;
	transition:opacity .5s;
}

.pure-menu-item > a:hover {
	opacity: 1;
	transition:all .5s;
}

#menu li:nth-child(1) > a,
#menu li:nth-child(2) > a,
.menu-list-article.pure-menu-active > a,
.menu-poster-list.pure-menu-active > a,
.menu-bank-list.pure-menu-active > a,
.menu-users.pure-menu-active > a,
.menu-projects-admin.pure-menu-active > a,
.menu-item-divided.pure-menu-active > a,
.menu-admin-main.pure-menu-active > a {
	opacity: 1;
}

#menu li:last-child {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.admin-menu ul li {
	padding: 0 25px!important;
	height: 50px!important;
}

.admin-menu ul li:nth-child(2) {
	padding: 15px!important;
}

.admin-menu ul li.newarticle {
	height: 50px!important;
}

.pure-menu-active>.pure-menu-link, 
.pure-menu-link:focus {
	background-color: inherit;
}

.pure-menu-item.nk > a {
	background: #252525 url(/img/1576/admin-logo.png)no-repeat 100%/ contain;
}

.pure-menu-item.newarticle > a {
	background: #35aa47;
	border-radius: 4px;
	height: 50px!important;
}

.pure-menu-item.newarticle > a > i {
	background: url(/img/1576/statya-01.svg)no-repeat 100%/ contain;
	width: 26px;
    height: 26px;
    display: block;
    position: relative;
    top: 11px;
    left: 13px;
}

.pure-menu-item.menu-admin-main > a > i,
.pure-menu-item.menu-list-article > a > i,
.pure-menu-item.menu-poster-list > a > i,
.pure-menu-item.menu-bank-list > a > i,
.pure-menu-item.menu-users > a > i,
.pure-menu-item.menu-projects-admin > a > i,
.pure-menu-item.menu-item-divided > a > i {
	width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: 14px;
    left: 6px;
}


.pure-menu-item.menu-admin-main > a {
	background: #252525;
	border-top: 1px solid rgba(255,255,255,.1);
}

.pure-menu-item.menu-admin-main > a > i {
	background: url(/img/1576/1.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-list-article > a {
	background: #252525;
}

.pure-menu-item.menu-list-article > a > i{
	background: url(/img/1576/2.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-poster-list > a {
	background: #252525;
}

.pure-menu-item.menu-poster-list > a > i {
	background: url(/img/1576/3.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-bank-list > a {
	background: #252525;
}

.pure-menu-item.menu-bank-list > a > i {
	background: url(/img/1576/4.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-users > a {
	background: #252525;
}

.pure-menu-item.menu-users > a > i {
	background: url(/img/1576/5-01.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-projects-admin > a {
	background: #252525;
}

.pure-menu-item.menu-projects-admin > a > i {
	background: url(/img/1576/6.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-item-divided > a {
	background: #252525;
}

.pure-menu-item.menu-item-divided > a > i {
	background: url(/img/1576/7.svg)no-repeat 100%/ contain;
}

.pure-menu-item.menu-exit > a > i{
	width: 20px;
	height: 20px;
	display: block;
	background: #252525 url(/img/1576/exit-01.svg)no-repeat 100%/ contain;
}

.pure-menu-link {
	padding: 0;
}

.pure-menu-item.pure-menu-active > a:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: relative;
	left: 45px;
	top: -6px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ededed;
}

.panel_buffer{
	height: 50px;
}
.fixed_right{
	margin-top: 20px;
	right: 0;
	top: 140px;
	padding-left: 20px;
	overflow-y: scroll;
}
.keyword_wrap{
	/*position: fixed;*/
	right: 20px;
	border-bottom: 1px solid #ccc;
}

.more_btn{
	height: 55px;
    width: 370px;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #fff;
    font-size: 18px;
    line-height: 27px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #c2c2c2;
    cursor: pointer;
}
.right_side .article_block.used_border{
	border-left: 2px solid #6fb510;
}

.right_side .article_block.red_border{
	border-left: 2px solid red;
}

.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{clear: both;}
