.mce-content-body img, .art_text img {max-width:660px;height: auto;}blockquote{position: relative;margin: 0;padding: 0 0 0 4em!important;quotes: "\201c" "\201d";font-size: 20px;font-style: italic;line-height: 24px!important;color: #707070;margin-left: 0!important;border-left: none!important;}blockquote:before {position: absolute;left: 0;top: 11px;color: #707070;content: open-quote;font-family: 'PT Sans', sans-serif;font-size: 116px;line-height: .7em;
	}#tinymce p {-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0;-webkit-margin-end: 0;}
