html, body {
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	color: #252525;
}

/*{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .25);
  z-index: 99;
}*/

.nav_top_wrapper {
	background-color: #ffe955;
}

a:hover, .posttext a:hover {
	color: #ff4019;
	transition: 250ms;
	border-bottom-color: transparent;
}


.nav_top {
	width: 1020px;
	height: 70px;
	box-sizing:border-box;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 70px;
}

.head_left {
	float: left;
	position: relative;
	font-size: 16px;
	height: 70px;
	font-weight: 700;
}

.head_right {
	float: right;
	font-size: 18px;
	font-weight: 700;
	height: 70px;
  	line-height: 62px;
  	position: relative
}

.head_right.now_here a {
	text-decoration: none;
}

.dateselect {
	cursor: pointer;
}

.dateselect span {
	display: inline-block;
}

.dateselect img {
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 5px;
}

.logo {
	float: left;
	margin-top: 10px;
}

.nav_list {
	float: left;
	list-style: none;
	margin-left: 30px;
	font-size: 18px;
	line-height: 62px;
}

.nav_list li, .subnav_list li {
	display: inline-block;
	margin-right: 20px;
	position: relative;
	height: 70px;
}

a {
	text-decoration: none;
	color: #252525;
}

/*.nav_list li a, .head_right a, .subnav_list li a, .black_link {
	border-bottom: 1px solid rgba(37, 37, 37, .35);
}

.nav_list li a:hover, .head_right a:hover, .subnav_list li a:hover, .black_link:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}*/

.nav_list li.now_here:after, .head_right.now_here:after {
	content: " ";
  	position: absolute;
  	bottom: 0px;
  	left: 50%;
  	transform: translateX(-50%);
  	border: 10px solid transparent;
  	border-bottom: 10px solid #fff;
}



.nav_list li.now_here.nosubmenu:after, .head_right.now_here:after {
	border-bottom: 10px solid #f7f7f7;
}

.nav_list li.now_here a, .subnav_list li.now_here a, .head_right.now_here a {
	color: #ff4019;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	pointer-events: none;
}

nav {
	position: relative;
	width: 100%;
	min-width: 1020px;
	background-color: #fff;
	z-index: 1;
	font-family: 'PT Sans', sans-serif;
}


nav a {
	color: rgba(37, 37, 37, .35);
	text-decoration: underline;
	transition:250ms;
}

nav a span {
	color: rgba(37, 37, 37, 1);
	transition:250ms;
}

nav a:hover {
	text-decoration: none;
	color: rgba(37, 37, 37, .35);
}

nav a:hover span {
	color: #ff4019;
}

nav li.now_here a {
	text-decoration: none;
}

nav li.now_here a span {
	color: #ff4019;
}

.nav_bottom_wrapper {
	border-bottom: 1px solid #ebebeb;
}

.nav_bottom {
	height: 37px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1020px;
	box-sizing: border-box;
	margin: 0 auto;
	line-height: 37px;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
}

.modal_bg {
	width: 100%;
 	height: 100%;
 	position: fixed;
 	background-color: rgba(235, 235, 235, .75);
 	z-index: 99;
}

.blurred {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	filter: blur(15px);
}

.noscroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.wrap960 {
  width: 1020px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


.leftcol {
	width: 660px;
	box-sizing:border-box;
	padding-right: 20px;
	float: left;
	padding-bottom: 20px;
}

.leftcol img {
	max-width: 100%;
}

.news_img {
	width: 180px;
	height: 110px;
	float: left;
	background-position: center;
	background-size: cover;
	background-color: #ccc;
}


.newsdets {
  height: 100px;
  width: 445px;
  box-sizing: border-box;
  float: right;
  position: relative;
  overflow: hidden;
  padding-right: 10px;
}
.newshead {
	font-family: 'PT Sans', sans-serif;
	line-height: 18px;
	font-weight: 700;
}

.rellink a {
	font-weight: bold;
}

.newshead a, .ev_dets a, .rellink a, .event_exc a {
	text-decoration: underline;
	color: rgba(0, 0, 0, .25);
	font-size: 18px;
	/*border-bottom: 1px solid rgba(0, 0, 0, .25);*/
}

.newshead a > *, .ev_dets a > *, .rellink a > *, .event_exc a >* {
	color: #252525;
}

.newshead a:hover, .ev_dets a:hover, .rellink a:hover, .event_exc a:hover {
	text-decoration: none;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0);*/
}

.newshead a:hover > *, .ev_dets a:hover > *, .rellink a:hover > *, .event_exc a:hover > * {
	color: #ff4019;
	transition: 250ms;
}


.newstext {
	font-size: 16px;
	line-height: 18px;
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
	margin-top: 6px;
	max-height: 72px;
}

.newsitem {
	margin-bottom: 15px;
}

.newsitem:last-child {
	margin-bottom: 0;
}

.newsitems {
	margin-top: 15px;
}


.quote {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	max-width: 300px;
}

.quote h3 {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 15px;
}


.author {
	font-size: 14px;
	float: right;
	margin-top: 10px;
}

.quotemain {
	width: 300px;
}

.rightcol {
	float: right;
}

.dayinbank {
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}

.dayinbank h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.dayinbank table, .bank {
	width: 300px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
}

.dayinbank td, .bank td {
	padding-top: 20px;
}

.dayinbank td:first-child, .bank td:first-child {
	width: 40px;
	color: #707070;
}

.dayinbank td:nth-child(2) {
	width: 260px;
}

.bank {
	width: 640px;
}

a.butlink:hover {
	color: #252525;
}

.button {
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	background-color: #a0dcff;
	color: #252525;
	border: none;
	display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    transition: 250ms;
    cursor: pointer;
}

.button:hover {
	background-color: #73cbff;
}

.button:active {
	background-color: #40b9ff;
}

.cn {
	position: absolute;
	width: 5px;
	height: 5px;
	display: block;
}

.ongray .cn {
	background-color: #f7f7f7;
}

.onwhite .cn {
	background-color: #fff;
}

.tl {
	top: -1px;
	left: -1px;
	border-bottom-right-radius: 100%;
}

.tr {
	top: -1px;
	right: -1px;
	border-bottom-left-radius: 100%;
}

.br {
	bottom: -1px;
	right: -1px;
	border-top-left-radius: 100%;
}

.bl {
	bottom: -1px;
	left: -1px;
	border-top-right-radius: 100%;
}

.todayafisha {
	padding-top: 25px;
	padding-bottom: 40px;
}

.todayafisha h3 {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 15px;
}

.allnews {
margin: 0 auto 25px auto;
text-transform: uppercase;
}

.buffer {
	height: 40px;
}

footer {
	width: 100%;
	min-width: 1020px;
	margin-top: -90px;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	background-color: #f0f0f0;
	overflow: hidden;
}

.inner {
	width: 1020px;
	box-sizing:border-box;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.madeby_info {
	float: right;
}

.madeby_info img {
	float: left;margin-right: 10px;
}

.foot_nav {
	float: left;
	font-size: 16px;
	margin-top: 7px;
}

.foot_nav li {
	display: inline-block;
	margin-right: 20px;
}

.foot_nav li.now_here a.spanned {
	color: #ff4019;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	pointer-events: none;
}

footer .now_here .spanned {
	text-decoration: none;
}

footer .now_here .spanned span {
	color: #ff4019;
}

footer a, a.blue_link, .bank a, .dayinbank a, .event_bigdesc a, .post a {
	color: #0080e3;
	border-bottom: 1px solid rgba(0, 128, 227, .35);
}

footer a {
	line-height: 15px;
}

footer a:hover, a.blue_link:hover, .bank a:hover, .dayinbank a:hover {
	color: #ff4019;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.post {
	width: 640px;
	float: left;
}

.wrap960.addpadd {
	padding-top: 48px;
}

.date {
	color: rgba(255, 255, 255, .5);
	font-size: 14px;
	font-weight: bold;
}

.post h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	margin-top: 20px;
}

.post img {
	/*margin-top: 23px;*/
	/*margin-bottom: 37px;*/
	max-width: 640px;
	height: auto;
}

.posttext, .froala-wrapper, .froala-view, .proj_art_content, .posttext *, .froala-wrapper *, .froala-view *, .proj_art_content * {
	font-size: 18px;
	line-height: 24px!important;
	font-family: 'PT Sans', sans-serif;
	word-wrap: break-word;
}

.posttext h3, .froala-wrapper h3, .froala-view h3, .posttext h3>*, .froala-wrapper h3>*, .froala-view *>h3, .posttext *>h3, .froala-wrapper *>h3, .froala-view *>h3, .froala-view *>*>h3, .posttext *>*>h3, .froala-wrapper *>*>h3, .froala-view *>*>*>h3, .posttext *>*>*>h3, .froala-wrapper *>*>*>h3, .froala-view *>*>*>h3, .froala-view h3>*>*, .posttext h3>*>*, .froala-wrapper h3>*>*, .froala-view h3>*>*, .posttext h3>*>*>*, .froala-wrapper h3>*>*>*, .froala-view h3>*>*>* {
	font-size: 24px!important;
	margin-top: 20px;
  	margin-bottom: 10px;
}

.posttext img, .froala-wrapper img, .froala-view img {
	display: block!important;
	margin: 0 auto!important;
	padding: 0!important;
}

.posttext h6, .froala-wrapper h6, .froala-view h6, .proj_art_content h6, .posttext h6>*, .froala-wrapper h6>*, .froala-view h6>*, .proj_art_content h6>*, .posttext h6>*>*, .froala-wrapper h6>*>*, .froala-view h6>*>*, .proj_art_content h6>*>* {
  	font-size: 14px;
  	line-height: 16px;
  	font-style: italic;
  	box-sizing: border-box;
  	margin-top: -10px;
  	color: #898989;
  	margin: 0!important;
}

.froala-editor .fr-dropdown .fr-dropdown-menu li a.format-h6 {
	font-size: 14px;
	font-style: italic;
	color: #898989;
}

.posttext b {
	font-weight: bold;
}

.posttext a, .posttext a>* {
	color: #0080e3;
}

.posttext div {
	margin-bottom: 10px;
}

.posttext p, .froala-wrapper p, .froala-view p {
	margin-bottom: 24px!important;
}

.posttext iframe {
	max-width: 640px !important;
	margin: 10px 0;
}

.posttext ul, .posttext ol {
	list-style-position: inside;
}

.reserve {
	float: right;
	width: 300px;
	height: 500px;
	box-sizing:border-box;
	border: 2px solid #ebebeb;
	font-size: 36px;
	color: #c2c2c2;
	padding-top: 176px;
	text-align: center;
}

.othernews {
	width: 100%;
	background-color: #f7f7f7;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: 35px;
}

.othernews h3 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
}

.image_container {
	width: 400px;
	height: 280px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 23px;
    margin-bottom: 37px;
}

.about {
	font-family: 'PT Sans', sans-serif;
}

h1.about {
	font-size: 48px;
	margin-bottom: 35px;
}

h2.about {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 35px;
}

p.about, ul.about {
	font-size: 18px;
	line-height: 25px;
}

ul.about {
	margin-top: 35px;
	list-style: none;
}

ul.about li {
	border-left: 3px solid #ff4019;
	margin-bottom: 25px;
	padding-left: 10px;
	line-height: 20px;
}

.datetimepicker {
	  width: 105px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-top: -4px;
  background-image: url('/img/arrdown.png');
  background-repeat: no-repeat;
  background-position: 90px 10px;
}

.datetimepicker:focus {
  outline: 0;
}

.date-switch {
	display: inline-block;
	height: 36px;
	box-sizing:borde-box;
	font-size: 14px;
	font-weight: 700;
	line-height: 36px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	font-family: 'PT Sans', sans-serif;
}

.date-switch a {
	display: block;
	height: 36px;
	line-height: 36px;
}

.prev {
	background-image: url('/img/prev.png');
	background-position: left 15px top 13px;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.next {
	background-image: url('/img/next.png');
	background-position: right 15px top 13px;
	background-repeat: no-repeat;
}

.prev a {
	padding-left: 30px;
	padding-right: 20px;
}

.next a {
	padding-left: 20px;
	padding-right: 30px;
}

.switches {
	text-align: center;
	margin-top: 30px;
}

a.maintop_link {
	color: #fff;
}

.maintop {
	width: 660px;
  	height: 320px;
  	background-size: cover;
  	color: #fff;
  	box-sizing: border-box;
  	position: relative;
  	background-color: #000;
  	overflow: hidden;
  	margin-bottom: 20px;
}

.imagediv {
  width: 660px;
  height: 320px;
  opacity: 0.6;
  position: absolute;
  transition: all 250ms;
  background-size: cover;
  background-position: center;
}

.maintop .texts {
  position: absolute;
  width: 660px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
  bottom: 26px;
}

.maintop h1 {
  font-family: 'PT Sans', sans-serif;
    font-size: 52px;
  line-height: 55px;
  font-weight: bolder;
}

.maintop h1 span {
	/*border-bottom: 1px solid rgba(255, 255, 255, .35);*/
}

.maintop p {
  font-size: 22px;
  line-height: 23px;
  opacity: .8;
  max-height: 69px;
  overflow: hidden;
  margin-top: 20px;
}

.maintop:hover .imagediv {
  opacity: .4;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
}

.maintop.arttop .imagediv, .maintop.projtop .imagediv {
  opacity: .6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ee_img {
	width: 120px;
	height: 180px;
	background-size: cover;
	float: left;
	background-color: #ccc;
}

.ee_dets {
	float: left;
	margin-left: 15px;
	width: 165px;
}

.ee_dets h4 {
	font-size: 16px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	line-height: 20px;
}

.ee_type {
	border-radius: 2px;
	height: 0;
	padding: 9px 8px;
	line-height: 0px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-top: 7px;
	display: inline-block;
	margin-bottom: 15px;
}

.exhibition {
	background-color: #92278f;
}

.play {
	background-color: #cc0000;
}

.color01 {
	background-color: #cccccc;
}
.color02 {
	background-color: #92278f;
}
.color03 {
	background-color: #cc0000;
}
.color04 {
	background-color: #6ecc00;
}
.color05 {
	background-color: #0082cc;
}
.color06 {
	background-color: #eeae25;
}
.color07 {
	background-color: #2ca0ae;
}
.color08 {
	background-color: #6a00cc;
}

.event_details h1 span.color01 {
	color: #cccccc;
	background-color: transparent;
}
.event_details h1 span.color02 {
	color: #92278f;
	background-color: transparent;
}
.event_details h1 span.color03 {
	color: #cc0000;
	background-color: transparent;
}
.event_details h1 span.color04 {
	color: #6ecc00;
	background-color: transparent;
}
.event_details h1 span.color05 {
	color: #0082cc;
	background-color: transparent;
}
.event_details h1 span.color06 {
	color: #eeae25;
	background-color: transparent;
}
.event_details h1 span.color07 {
	color: #2ca0ae;
	background-color: transparent;
}
.event_details h1 span.color08 {
	color: #6a00cc;
	background-color: transparent;
}

.ee_desc {
	font-size: 14px;
	line-height: 18px;
}

.event_exc {
	margin-bottom: 20px;
}

.social {
	float: right;
}

.social a {
	border-bottom: none;
}

.social a:hover {
	border-bottom: none;
}

.social div {
	display: inline-block;
	margin-right: 10px;
	width: 34px;
	height: 34px;
	background-image: url('/img/soc_sprite.png');
}

.vk_link {
	background-position: -44px 0;
}

.tw_link {
	background-position: -88px 0;
}

.arttop h2 {
	border-bottom: none;
	font-size: 32px;
	line-height: 36px;
}

.arttop .date, .arttop .date a {
	font-size: 14px;
	border: 0;
}

.arttop .date a {
	text-decoration: underline;
	color: rgba(255, 255, 255, .35);
	transition: 250ms;
}

.arttop .date a span {
	color: rgba(255, 255, 255, .5);
	transition: 250ms;
}

.arttop .date a:hover {
	text-decoration: none;
}

.arttop .date a:hover span {
	color: #fff;
}

.art_controls {
	height: 48px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	transition: background-color .25s ease-out;
}

.art_controls .inner {
	height: 48px;
}



/*.backbut {
	width: 78px;
	height: 48px;
	color: #252525;
	border-right: 1px solid rgba(0, 0, 0, .1);
	border-left: 1px solid rgba(0, 0, 0, .1);
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	float: left;
	transition: 250ms;
}*/

/* 	*/

.backlink:hover {
	color: #252525;
}

.art_in_in {
	width: 660px;
	/*border-right: 1px solid #ebebeb;*/
	float: left;
}

.sharebox {
	float: right;
	height: 48px;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.sharebox div {
	width: 70px;
	height: 48px;
	border-left: 1px solid rgba(0, 0, 0, .1);
	display: inline-block;
	transition: 250ms;
	box-sizing:border-box;
	font-size: 13px;
	color: #707070;
	vertical-align: top;
}

.sharebox div a {
	display: block;
	height: 48px;
	line-height: 48px;
	color:#707070;
	text-align: center;
}

.sharebox div a:hover {
	color:#707070;
}

/*.sharebox div:hover, .backbut:hover {
	background-color: #fff;
}*/

.sharebox div div {
	display: inline-block;
	background-image: url('/img/soc.png');
	vertical-align: middle;
	margin-right: 7px;
	transition: 250ms;
	border: none;
}

.sharebox .fb div{
	width: 8px;
	height: 16px;
}

.sharebox .fb:hover div {
	background-position: 0px -16px;
}

.sharebox .vk div{
	width: 19px;
	height: 16px;
	background-position: -8px 0px;
}

.sharebox .vk:hover div{
	background-position: -8px -16px;
}


.sharebox .tw div{
	width: 15px;
	height: 16px;
	background-position: -27px 0px;
}

.sharebox .tw:hover div{
	background-position: -27px -16px;
}

.post>h1 {
	font-size: 32px;
	line-height: 36px;
	color: #252525;
	margin-bottom: 10px;
}

.post>.date {
	font-size: 14px;
	color: rgba(37, 37, 37, .5);
	margin-bottom: 10px;
}

.imgdesc {
	padding: 10px;
	font-size: 14px;
    line-height: 16px;
    font-style: italic;
    box-sizing: border-box;
    margin-top: -10px;
    color: #898989;
    padding-left: 0;
}

/*.imgdesc_fleft {
	float: left;
	margin-right: 10px;
}

.imgdesc_fright {
	float: right;
	margin-left: 10px;
}

.imgdesc_fcenter {
	margin-left: auto;
	margin-right: auto;
}

.imgdesc_ib {
	display: inline-block;
}*/

.banner {
	width: 300px;
	margin-bottom: 25px;

}

.related h3{
	margin-top: 25px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 20px;

}

.relitem {
	width: 300px;
	margin-bottom: 15px;
	overflow: hidden;
}

.relimg {
	width: 90px;
	height: 60px;
	background-color: #ebebeb;
	float: left;
	margin-right: 10px;
	background-size: cover;
}

.relitem a {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-top: 4px;
}

.bank_today {
	font-size: 18px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin-top: 20px;
}

.datepicker {
	border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: rgb(0, 128, 227);
  cursor: pointer;
}

.lastnews {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 5px;
}

.dateselects {
	font-size: 18px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	padding-top: 25px;
	margin-bottom: 25px;
}

.dateselects>* {
	display: inline-block;
	margin-right: 20px;
}

.event {
	width: 640px;
	margin-bottom: 30px;
}

.ev_img {
	/*width: 140px;*/
	/*height: 200px;*/
	background-size: cover;
	float: left;
	background-color: #ccc;
}
.ev_img img {
	width: 140px;
	height: 202px;
	display: block;
}

.ev_dets {
	width: 490px;
	float: right;
}

.ev_dets h2 {
	font-size: 18px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 10px;
	line-height: 24px;
	width: 100%;
	clear: both;
	box-sizing: border-box;
}



.ev_type {
	height: 0;
  	padding: 9px 10px 10px;
  	line-height: 0;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	font-size: 12px;
}

.lection {
	background-color: #519227;
}

.event_poster {
	width: 180px;
	height: 260px;
	height: auto;
	float: left;
	margin-right: 20px;
	outline: 0 none;
	border: 0 none;
	background-color: #ccc;
}

.event_details h1{
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 20px;
}

.evtype_exhibition {
	color: #92278f;
}

.event_details>div {
	padding-top: 20px;
  	padding-bottom: 20px;
  	padding-left: 50px;
  	font-size: 16px;
  	font-weight: bold;
  	color: #7b7b7b;
  	line-height: 18px;
  	border-top: 1px solid #e1e1e1;
  	border-bottom: 1px solid #e1e1e1;
  	width: 400px;
  	box-sizing: border-box;
  	margin-left: 200px;
  	padding-right: 20px;
  	margin-top: -1px;
}

.evtime {
	background-image: url('/img/evtime.png');
	background-repeat: no-repeat;
	background-position: 18px;
}

.evplace {
	background-image: url('/img/evplace.png');
	background-repeat: no-repeat;
	background-position: 20px;
}

.event_bigdesc {
	font-size: 18px;
	line-height: 24px;
}

.wrap_ev {
	padding-top: 27px;
}

.wrap_ev.addpadd_ev {
	padding-top: 64px;
}

.likes {
	text-align: center;
	border-top: 1px solid #ebebeb;
	padding-top: 20px;
	margin-top: 30px;
}

#menu a:hover {
	text-decoration: none;
}

.contact {
	position: fixed;
	left: -50%;
	right: 0;
	top: 50%;
	transform: translate3d(0, 0, 0);
	margin-left: -300px;
	margin-top: -240px;
	width: 600px;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 101;
}

.contact>div {
	padding: 0 30px;
}
.contact>div.modal_heading {
	height: 70px;
	line-height: 70px;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color: #ffe955;
	padding-right: 0px;
}

.modal_heading .close {
	float: right;
	cursor: pointer;
	width: 70px;
	height: 70px;
	text-align: center;
}

.modal_heading .close:hover {
	background-color: rgba(0, 0, 0, .15);
}

.contact_form {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact_form textarea, .contact_form input {
 	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 5px;
	box-sizing: border-box;
}

.contact_form textarea {
	width: 540px;
	height: 115px;
	resize:none;
}

.contact_form input {
	width: 300px;
	height: 34px;
}

.contact_form p {
	margin-bottom: 8px;
	font-size: 14px;
}

.errors {
	color: #ff4019;
	font-size: 13px;
	list-style-position: inside;
	margin-bottom: 20px;
}

.errors li {
	display: none;
}

.contact_form textarea.error, .contact_form input.error {
	border: 1px solid #ff4019;
}

.contact div.success_msg {
	padding-top: 30px;
	padding-bottom: 30px;
}

.success_msg p {
	font-family: 'PT Sans', sans-serif;
}

.sent {
	font-size: 32px;
	margin-bottom: 20px;
}

.thanks {
	font-size: 18px;
	margin-bottom: 30px;
}

.ev_date {
	width: 70px;
	height: 45px;
	border-left: 2px solid #e1e1e1;
	float: right;
	text-align: center;
}

.ev_date .day {
	font-size: 24px;
	font-weight: bold;
}

.ev_date .mon {
	font-size: 14px;
	color: #707070;
}

.month_head {
	font-size: 22px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.ev_topinfo_left {
	/*width: 378px;*/
	float: left;
}

.timestamp {
	font-size: 12px;
	color: #898989;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
}

.project_partners {
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.partners_table {
	width: 100%;
	margin-bottom: 62px;
}

.partners_table td {
	border: 1px solid #ebebeb;
	height: 170px;
	text-align: center;
	vertical-align: middle;
}

.filters.hidden {
	position: absolute;
  	overflow: hidden;
  	width: 0;
  	height: 0;
  	pointer-events: none;
}


.edit_ctrl:hover {
	opacity: 1;
}

.edit_ctrl {
    /* display: block; */
    float: right;
    width: 35px;
    height: 35px;
    background: url('/img/edit.png') center no-repeat rgba(53, 170, 71, 1);
     border-radius: 4px; 
    transition: 250ms;
    opacity: .7;
}

.out_ctrl {
  display: block;
  float: right;
  width: 50px;
  height: 30px;
  background: url('/img/goout.png') center no-repeat rgba(0, 0, 0, .25);
  border-radius: 50px;
  transition: 250ms;
  margin-left: 5px;
}
.out_ctrl:hover{
	background-color: #fff;
}
.out_ctrl:hover{
	background-color: rgba(0, 0, 0, 1);
}


.login {
	padding-top: 180px;
	text-align: center;
}

.login img {
	margin-bottom: 50px;
}

.login-form {
	font-family: 'PT Sans', sans-serif;
}

.login-form input {
	width: 220px;
	height: 35px;
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	border: 1px solid #ccc;
  	box-shadow: inset 0 1px 3px #ddd;
  	border-radius: 4px;
  	text-align: center;
  	font-size: 14px;
 	
}

.login-form input.login_button {
	width: 220px;
	height: 50px;
	margin: 0 auto;
	background-color: rgba(0, 120, 231, 1);
	border: none;
	box-shadow: none;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
	transition:250ms;
}

.login-form input.login_button:hover {
	background-color: rgba(0, 120, 231, .7);
}

.blue_link.spanned {
	text-decoration: underline;
	color: rgba(0, 128, 227, .35);
	border-bottom: none;
	transition:250ms;
}

.blue_link.spanned span {
	color: rgba(0, 128, 227, 1);
	transition:250ms;
}

.blue_link.spanned:hover {
	color: rgba(0, 0, 0, 0);
	border-bottom: none;
}

.blue_link.spanned:hover span {
	color: #ff4019;
}

.noevents {
	margin-bottom: 20px;
}

.posttext blockquote, .event_bigdesc blockquote, .froala-wrapper blockquote, .froala-view blockquote {
  position: relative;
  margin: 0;
  padding: 0 0 0 4em!important;
  quotes: "\201c" "\201d";
  font-size: 20px;
  font-style: italic;
  line-height: 24px!important;
  color: #69b0ca;
  margin-left: 0!important;
  border-left: none!important;
}

.posttext blockquote>*, .event_bigdesc blockquote>*, .froala-wrapper blockquote>*, .froala-view blockquote>* {
	font-size: 20px;
}

.froala-wrapper blockquote, .froala-view blockquote {
	overflow: visible!important;
	min-height: 33px;
}

.posttext blockquote:before, .event_bigdesc blockquote:before, .froala-wrapper blockquote:before, .froala-view blockquote:before {
  position: absolute;
  left: 0;
  top: 11px;
  color: #ff9b00;
  content: open-quote;
  font-family: 'PT Sans', sans-serif;
  font-size: 116px;
  line-height: .7em;
}

.posttext blockquote:before, .event_bigdesc blockquote:before {
	left: -57px;
}

.posttext blockquote, .event_bigdesc blockquote {
	padding: 0!important;
}

/*ARTICLE v2*/

.maintop.arttop, .maintop.projtop {
	width: 100%;
	height: 420px;
	min-width: 1020px;
}

.maintop.arttop .imagediv, .maintop.projtop .imagediv {
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	width: 1040px;
	height: 420px;
	position: absolute;
	z-index: 0;
	opacity: .5
}

.maintop.arttop .texts, .maintop.projtop .texts {
  position: absolute;
  left: 0;
  right: 0;
  width: 980px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  bottom: 26px;
}

.maintop.projtop .texts {
	bottom: 40px;
}

.maintop.arttop h1, {
	font-size: 58px;
	line-height: 58px;
}

.maintop.projtop h1 {
	font-size: 48px;
	margin-bottom: 140px;
	text-align: center;
}

.maintop.arttop .art_controls, .maintop.projtop .art_controls {
	position: relative;
	z-index: 1;
	background-color: transparent;
	height: initial;
	border-bottom: none;
	padding-top: 20px;
}

.maintop.arttop .art_controls .backbut, .maintop.projtop .art_controls .backbut {
  	width: 80px;
  	height: 30px;
  	color: #fff;
  	border-radius: 50px;
  	line-height: 28px;
  	transition: 250ms;
  	text-align: left;
  	padding-left: 27px;
  	box-sizing:border-box;
  	background: url("/img/back.png") 11px no-repeat rgba(0, 174, 239, .75);
}

.maintop.arttop .art_controls .backbut:hover, .maintop.projtop .art_controls .backbut:hover {
	background-color: rgba(0, 174, 239, 1);
}

.maintop.arttop .art_in_in, .maintop.projtop .art_in_in {
	width: 100%;
}

.maintop.arttop p, .maintop.projtop p {
	text-transform: uppercase;
}

.maintop.arttop.noposter {
	background-color: #fff;
	height: auto;
	padding-top: 68px;
	margin-bottom: 0;
}

.noposter .texts, .noposter .date {
	color: #252525;
}

.maintop.arttop.noposter .texts {
	display: block;
	position: relative;
	margin-top: 30px;
}

.maintop.arttop.noposter .art_controls {
	position: absolute;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 0;
}

.maintop.arttop .art_controls.fixed, .maintop.projtop .art_controls.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}



.posttext div.img_container, .froala-wrapper div.img_container, .froala-view div.img_container, .proj_art_content div.img_container{
	text-align: center;
	background-color: #f5f5f5;
	margin-bottom: 0;
	padding: 0;
}

.imgdesc {
	text-align: left;
}

.foot_top {
	overflow: hidden;
	padding-top: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
}

.foot_bottom {
	overflow: hidden;
	padding-bottom: 30px;
}

.social span {
	top: -14px;
  	position: relative;
  	margin-right: 20px;
}

.copyright {
	color: #acacac;
	float: left;
}

.announcement {
	font-size: 30px;
	line-height: 32px!important;
}

.limit {
	transition: 250ms;
  	overflow: hidden;
  	height: 18px;
  	box-sizing: border-box;
  	padding-top: 18px;
  	display: none;
}

.was-limited .limit {
	display: block;
}

.was-limited.nomore {
	cursor: pointer;
}

.was-limited.nomore .limit {
	display: none;
}

.was-limited:hover .limit {
	padding-top: 0;
}

.bank_content {
	position: relative;
	cursor: pointer;
}

.bank_content.limited{
	overflow: hidden;
	cursor: pointer;
}

.arttop.noposter .date a span {
	color: #252525;
	border-bottom: 1px solid rgba(37, 37, 37, .35);
}

.arttop.noposter .date a span:hover {
	color: #ff4019;
	border-bottom: none;
}

.froala-element .f-video-editor {
	padding: 0!important;
}

/*SPECIAL PROJECTS STYLES*/

.project_item_link {
	display: block;
	margin-bottom: 40px;

}

.project_item {
	width: 460px;
}

.project_item_link:nth-child(2n-1) {
	float: left;
}

.project_item_link:nth-child(2n) {
	float: right;
}

.project_item_bg {
	width: 460px;
	height: 250px;
	background-color: #000;
	margin-bottom: 20px;
}

.project_item_pic {
	width: 460px;
	height: 250px;
	background-size: cover;
	background-position: center;
	transition:250ms;
}

.project_item_link:hover .project_item_pic {
	opacity: .8;
}

.project_title {
	font-size: 30px;
	font-weight: bold;
}

.sponsorship {
	font-size: 26px;
	text-align: center;
}

.sponsorship a {
	color: #3ec0f1;
	transition:250ms;
}

.sponsorship a:hover {
	color: #ff4019;
}

.sponsor_logo {
	margin-right: 60px;
	width: 200px;
}

.sponsorship span {
	position: absolute;
	top: -15px;
	font-size: 34px;
	vertical-align: top;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 720px;
	text-align: center;
}

.project_link {
	display: block;
	width: 300px;
	margin: 10px;
	float: left;
}

.project_rubrics {
	margin-bottom: 40px;
}

.project_rubrics .wider {
	width: 1000px;
  	overflow: hidden;
  	margin-left: -10px;
}

.project_rubric_overlay {
	width: 300px;
	height: 225px;
	background-color: rgba(0, 0, 0, .4);
	transition:250ms;
	position: relative;
}

.project_rubric_img {
	width: 300px;
	height: 225px;
	background-size: cover;
	position: relative;
}

.project_link:hover .project_rubric_overlay {
	background-color: rgba(0, 0, 0, .6);
}

.project_rubric_title {
	position: absolute;
  	width: 300px;
  	padding: 20px;
  	box-sizing: border-box;
  	line-height: 35px;
  	left: 0;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
  	text-align: center;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 30px;
  	max-height: 210px;
  	font-weight: bold;
  	overflow: hidden;
  	word-break: break-word;
}	

.breadcrumbs {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #ebebeb;
}

.breadcrumbs ul {
	width: 980px;
	margin: 0 auto;
}

.breadcrumbs ul li {
	list-style: none;
	float: left;
	margin-right: 10px;
}


.breadcrumbs ul li:nth-child(n+2):before {
	content: ">";
	margin-right: 10px;
}

.maintop.projtop.proj_art_top {
	height: 90px;
	background-color: #fff;
	margin-bottom: 0;
}

.rubric_name {
	padding-bottom: 10px;
  	font-size: 26px;
  	line-height: 30px;
  	font-weight: bold;
  	border-bottom: 2px solid #252525;
}

.proj_art_menu {
	width: 200px;
	float: left;
	margin-bottom: 40px;
}

.proj_art_menu li.selected a {
	text-decoration: none;
	pointer-events:none;
}

.proj_art_menu li.selected a span {
	color: #ff4019;
}

.proj_art_menu.fixed {
	position: fixed;
	top: 110px;
}

.articles_list li {
	  list-style: none;
  min-height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed #c2c2c2;
  padding-top: 12px;
  padding-bottom: 12px;
}

.proj_art_content {
	width: 700px;
	float: right;
	margin-bottom: 40px;
}

.proj_art_content h1  {
	font-size: 30px;
	line-height: 30px!important;
	font-weight: bold;
	margin-bottom: 20px;
}

.note {
	position: absolute;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  	width: 160px;
  	text-align: center;
  	height: 40px;
  	line-height: 40px;
  	background-color: #ffd019;
  	border-radius: 5px;
  	top: 8px;
  	display: none;
}