/* BASICS*/
html, body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  color: #252525;
}

.modal_bg {
	width: 100%;
 	height: 100%;
 	position: fixed;
 	background-color: rgba(235, 235, 235, .75);
 	z-index: 99;
}

.blurred {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	filter: blur(15px);
}

.noscroll {
  overflow: hidden;
  padding-right: 17px;
}

.wrapper {
	width: 1060px;
	margin: 0 auto;
	background-color: #ededed;
	position: relative;
}

.wrap_narrow {
	width: 1080px;
	margin: 0 auto;
}

.buffer {
	height: 80px;
}

footer a, a.blue_link, .bank a, .dayinbank a, .event_bigdesc a, .post a, .proj_article_text a {
  color: #0080e3;
  border-bottom: 1px solid rgba(0, 128, 227, .35);
  transition:250ms;
 }

footer a:hover, a.blue_link:hover, .bank a:hover, .dayinbank a:hover, .event_bigdesc a:hover, .post a:hover, .proj_article_text a:hover {
  color: #ff4019;
  border-bottom: 1px solid transparent;
}

.banner {
	margin-bottom: 50px;
	border-bottom: none!important;
	float: right;
}

/* END BASICS */

/* CONTACT FORM - FROM V 1.0 */
.filters.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.modal_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(235, 235, 235, .75);
  z-index: 99;
}

.c_blurred {
  -webkit-filter: url(#blur);
  filter: url(#blur);
  pointer-events: none;
}

.contact {
  /*position: fixed;*/
  left: -50%;
  right: 0;
  top: 50%;
  transform: translate3d(0, 0, 0);
  margin-left: -300px;
  margin-top: -260px;
  width: 600px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 101;
}

.contact.c_blurred {
	display: none;
}

.contact>div {
  padding: 0 30px;
}

.contact>div.modal_heading {
  height: 70px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font: 400 18px/72px 'proxima_nova';
  padding-right: 0px;
  text-transform: uppercase;
}

.modal_heading .close {
  float: right;
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
}

.contact div.success_msg {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sent {
  font-size: 32px;
  margin-bottom: 20px;
}

.thanks {
  font-size: 16px;
  margin-bottom: 30px;
}

.button {
  height: 40px;
  width: 150px;
  font: 700 13px/40px 'proxima_nova';
  font-size: 13px;
  line-height: 40px;
  background-color: #0080e3;
  color: #fff;
  border: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transition: 250ms;
  cursor: pointer;
}

.tl {
  top: -1px;
  left: -1px;
  border-bottom-right-radius: 100%;
}

.cn {
  position: absolute;
  width: 5px;
  height: 5px;
  display: block;
}

.onwhite .cn {
  background-color: #fff;
}

.tr {
  top: -1px;
  right: -1px;
  border-bottom-left-radius: 100%;
}

.br {
  bottom: -1px;
  right: -1px;
  border-top-left-radius: 100%;
}

.bl {
  bottom: -1px;
  left: -1px;
  border-top-right-radius: 100%;
}

.contact_form {
  padding-top: 30px;
  padding-bottom: 30px;
  font: 400 13px/22px 'proxima_nova';
}

.contact_form textarea, .contact_form input {
  border: 1px solid #ccc;
  /*border-radius: 5px;*/
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  height: 35px;
  width: 275px;
}

.contact_form textarea {
  width: 540px;
  height: 115px;
  resize: none;
}

.contact_form p {
  margin-bottom: 8px;
  font-size: 14px;
}

.errors {
  color: #ff4019;
  font-size: 13px;
  list-style-position: inside;
  margin-bottom: 20px;
}

.errors li {
  display: none;
}

/* END CONTACT FORM */

/* NAVIGATION */

.topnav {
	height: 60px;
	background-color: #ffe033;
	font-size: 16px;
	font-weight: bold;
	/*min-width: 1000px;*/
}

.topnav>.nav_narrow {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}

.toplogo {
	margin-top: 13px;
	margin-right: 15px;
	float: left;
}

.nav_links {
	float: left;
}

.nav_links li {
	float: left;
	list-style: none;
	height: 60px;
	line-height: 60px;
}

a {
	color: #252525;
	text-decoration: none;
}

a:hover,
.main_menu a:hover {
	color: rgba(0, 128, 227, 0.5)!important;
}

.nav_links li a, .about_link {
	height: 60px;
	display: block;
	padding: 0 15px;
}

.nav_links li a:hover, .nav_links li.now_here a, .about_link:hover, .about_link.now_here {
	background-color: #ffb82c;
	color: #fff;
}

.nav_links li.now_here a, .about_link.now_here {
	pointer-events:none;
}

.about_link {
	float: right;
	line-height: 60px;
}

/* END NAVIGATION */

/* MAIN PAGE */

section.mainsec {
	width: 1060px;
	margin: 0 auto 20px auto;
}

.lastnews {
	background-color: #fff;
	padding: 30px;
	box-sizing:border-box;
	position: relative;
	overflow: hidden;
}

.main_narrow {
	padding-top: 20px;
}

.mainsec h2 {
	color: #898989;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.last_left {
	float: left;
	width: 460px;
	height: 390px;
	position: relative;
}

.lastnews_items {
	position: absolute;
	bottom: 30px;
}

.lastnews_item {
	border-top: 1px solid #e1e1e1;
	padding-top: 15px;
	padding-bottom: 20px;
	width: 460px;
}

.lastnews_item:first-child {
	padding-top: 0;
	border-top: none;
}

.lastnews_item:last-child {
	padding-bottom: 0;
}

.lastnews_heading {
	font-size: 16px;
	line-height: 16px;
	max-height: 36px;
	overflow: hidden;
	font-weight: bold;
	margin-bottom: 10px;
}

.last_timestamp {
	color: #acacac;
	font-size: 12px;
	line-height: 12px;
}

.main_newsitem {
	width: 490px;
	margin-top: -16px;
	float: right;
}

.main_img {
	width: 490px;
	height: 270px;
	background-size: cover;
	margin-bottom: 10px;
	background-position: center;
}

.main_head {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
}

.main_desc {
	font-size: 16px;
    line-height: 22px;
	color: #636363;
	margin-bottom: 20px;
}

section.mainsec.m_articles {
	margin-bottom: 0;
}

.wider {
	width: 1080px;
	overflow: hidden;
	margin-left: -10px;
}

.article_item_pic {
	width: 340px;
	height: 220px;
	margin: 0  10px 20px 10px;
	background-size: cover;
	position: relative;
	float: left;
	background-position: center;
}

.article_item_overlay {
	width: 340px;
	height: 220px;
	background-color: rgba(0, 0, 0, .5);
	position: relative;
	padding:30px;
	box-sizing:border-box;
	transition:250ms;
}

.article_item_overlay:hover {
	background-color: rgba(0, 0, 0, .6);
}

.article_item_category {
	font-size: 16px;
	font-weight: bold;
	color: rgba(247, 247, 247, .6);
	text-transform: uppercase;
}

.article_item_heading {
	position: absolute;
	bottom: 30px;
	left:30px;
	width: 280px;
	font-size: 24px;
	font-weight: bold;
	color: #f7f7f7;
}

.bank {
	background-color: #fff;
	padding: 30px;
	box-sizing:border-box;
}

.datepicker.hidden {
	width: 165px;
	height: 30px;
	box-sizing:border-box;
  	position: relative;
  	z-index: 5;
  	opacity: 0;
  	margin-left: 7px;
  	cursor: pointer;
}

.fake-datepicker {
	margin-left: -165px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bold;
	width: 165px;
	box-sizing:border-box;
	color: #252525;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-right: 35px;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	background-image: url('/img/arrdown_v2.png');
	background-position: right 11px top 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	cursor: pointer;
	transition:250ms;
}

.datepicker.hidden:hover + .fake-datepicker {
	color: #ff4019;
}

.bank_table {
	width: 100%;
	margin-top: 20px;
}

.bank_table td:first-child {
	width: 40px;
	font-size: 12px;
	color: rgba(37, 37, 37, .6);
}

.bank_table td:nth-child(2) {
	 font-size: 16px;
  	line-height: 22px;
  	padding-bottom: 25px;
}

.bank_table tr:nth-child(n+6) {
	display: none;
}

.bank_more {
	width: 120px;
	height: 30px;
	box-sizing:border-box;
	background-image: url('/img/blackarr_v2.png');
	background-position: 10px;
	background-repeat: no-repeat;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	padding-left: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	display: none;
	transition:250ms;
}

.bank_more:hover {
	color: #ff4019;
}

.bank_heading {
	margin-top: -12px;
}

.m_project {
	height: 400px;
	background-size: cover;
	position: relative;
}

.m_project h2 {
	color: rgba(255, 255, 255, .6);
}

.m_project:nth-child(n+2) {
	display: none;
}

.m_project_overlay {
	background-color: rgba(0, 0, 0, .5);
	height: 400px;
	position: relative;
	box-sizing:border-box;
	padding: 30px;
}

.m_project_info {
	position: absolute;
  	width: 1000px;
  	bottom: 30px;
}

.m_project_head, .m_project_desc {
	color: #fff;
	text-align: center;
}

.m_project_head {
	font-size: 56px;
	font-weight: bold;
}

.m_project_desc {
	font-size: 24px;
	margin-top: 25px;
	min-height: 24px;
}

.m_project_categs {
	text-align: center;
	margin-top: 40px;
}

.m_project_categs li {
	display: inline-block;
	margin-right: 25px;
	font-size: 20px;
}

.m_project_categs li:last-child {
	margin-right: 0;
}

.m_project_categs li a {
	color: rgba(255, 255, 255, .75);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, .35);
	transition:250ms;
}

.m_project_categs li a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid transparent;
}

.m_project_refreshed {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .6);
	margin-top: 40px;
}

.quote {
	background-color: #fff;
	padding: 30px;
	box-sizing:border-box;
}

.quote_text {
	font-size: 24px;
	font-style: italic;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.quote_autohr {
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}

.quote_autohr a {
	text-decoration: underline;
	color: rgba(0, 128, 227, .35);
	transition:250ms;
}

.quote_autohr a:hover {
	text-decoration: none;
}

.quote_autohr a>* {
	color: rgba(0, 128, 227, 1);
	transition:250ms;
}

.quote_autohr a:hover>* {
	color: #ff4019;
}

.nearest_events {
	background-color: #fff;
	padding: 30px;
	box-sizing:border-box;
}

.m_event_img {
	width: 235px;
	height: 330px;
	margin-bottom: 20px;
	background-size: cover;
}

.ev_name {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

.nearest_events a {
	margin-top: 30px;
  display: inline-block;
  width: 231px;
  /* float: left; */
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.n_ev_wider {
	width: 1020px;
	margin-left: -10px;
	overflow: hidden;
}



/* FOOTER */

footer {
	background-color: #ffe033;
	position: relative;
}

.foot_top {
	border-bottom: 1px solid rgba(255, 255, 255, .35);
}

.foot_cell {
	float: left;
}

.foot_cell:first-child {
	width: 165px;
}

.foot_narrow {
	width: 1060px;
	padding: 30px;
	box-sizing:border-box;
	margin: 0 auto;
	overflow: hidden;
}

.foot_cell_heading {
	font-size: 12px;
	font-weight: bold;
	color: #363636;
	margin-bottom: 10px;
}

footer a {
	color: rgba(0, 128, 227, 1);
	text-transform: uppercase;
	font-size: 13px;
	transition:250ms;
	border-bottom-color: transparent;
}

footer a:hover {
	color: #ff4019;
}

.foot_bottom .foot_narrow {
	padding-bottom: 4px;
}

.copyright, .byfoxima {
	float: left;
	font-size: 14px;
	color: rgba(37, 37, 37, .75);
}

.byfoxima {
	float: right;
	position: relative;
  	top: -18px;
}

.byfoxima img {
	position: relative;
  	top: 9px;
  	margin-left: 15px;
  	margin-right: 5px;
}

.nearest_events a.afisha_link {
	display: block;
	float: none;
	margin-left: 0;
	margin-top: 30px;
	width: 120px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

/* EVENT */

.ev_map {
	height: 130px;
	background-color: #000;
	transition: 500ms;
	position: relative;
	overflow: hidden;
	max-width: 1060px;
    margin: 0 auto;
}

.ev_map>.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	background-color: rgba(0, 0, 0, .50);
	cursor: pointer;
}

.ev_map.extended {
	height: 300px;
}

.ev_map>ymaps {
	position: relative;
	top: -100px;
	transition: 500ms;

}

.ev_map.extended>ymaps {
	top: 0;
}

.event_bigdesc img {
  max-width: 660px;
}

.backbut {
	  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  line-height: 28px;
  transition: 250ms;
  text-align: left;
  padding-left: 27px;
  box-sizing: border-box;
  background: url("/img/back.png") 11px no-repeat rgba(0, 174, 239, .75);
  float: left;
}

.backbut:hover {
	background-color: rgba(0, 174, 239, 1);
}

.controls {
	position: absolute;
	width: 1000px;
	left: 0;
	right: 0;
	top: 20px;
	margin: 0 auto;
	overflow: hidden;
}

.wrap_narrow.ev_narrow {
	width: 1060px;
	padding: 30px 30px 40px 30px;
	overflow: hidden;
	background-color: #fff;
}

.ev_narrow h1 {
	font-size: 52px;
	font-weight: bold;
	margin-bottom: 15px;
}

.ev_narrow h1 span.color01 {
	color: #cccccc;
	background-color: transparent;
}
.ev_narrow h1 span.color02 {
	color: #92278f;
	background-color: transparent;
}
.ev_narrow h1 span.color03 {
	color: #cc0000;
	background-color: transparent;
}
.ev_narrow h1 span.color04 {
	color: #6ecc00;
	background-color: transparent;
}
.ev_narrow h1 span.color05 {
	color: #0082cc;
	background-color: transparent;
}
.ev_narrow h1 span.color06 {
	color: #eeae25;
	background-color: transparent;
}
.ev_narrow h1 span.color07 {
	color: #2ca0ae;
	background-color: transparent;
}
.ev_narrow h1 span.color08 {
	color: #6a00cc;
	background-color: transparent;
}

.timeplace {
	margin-bottom: 30px;
	width: 660px;
	float: left;
}

.timeplace span {
	font-size: 12px;
	font-weight: bold;
	color: #898989;
	line-height: 20px;
	text-transform: uppercase;
}

.timeplace span img {
	top: 5px;
    position: relative;
    margin-right: 10px;
}

.event_bigdesc {
	width: 660px;
	float: left;
	font-size: 16px;
	line-height: 22px;
}

.announcement {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 24px;
}

.text {
	font-size: 16px;
	line-height: 24px;
}


.ev_time {
	margin-right: 30px;
}

.controls.fixed {
	position: fixed;
	top: 20px;
}

/* SPECIAL PROJECTS */

.proj_menu {
	position: absolute;
	width: 260px;
	height: 100%;
	/*background-color: #363636;*/
	z-index: 3;
	overflow-y:auto; 
}

.proj_menu_inner {
	width: 260px;
	float: right;
	box-sizing:border-box;
	text-align: left;
	padding: 30px;
	/*height: calc(100% - 60px);*/
  	position: relative;
}

.pm_pname {
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}

.pm_plabel {
	font-size: 12px;
	font-weight: bold;
	color: #898989;
	text-transform: uppercase;
}

.pm_credentials {
	padding-bottom: 20px;
	border-bottom: 4px solid #464646;
	margin-bottom: 30px;
}

.pm_rubric, .pm_intro {
	overflow: hidden;
}

.pm_r_name {
	float: left;
    min-height: 31px;
    max-width: 120px;
    text-decoration: underline;
}

.pm_r_name:hover,
.pm_rubric.selected > a > p {
    text-decoration: none;
}

.pm_r_count {
	float: right;
}

.pm_rubric a, .pm_intro a {
	color: #707070;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}

.pm_rubric.selected a, .pm_rubric a:hover, .pm_intro.selected a, .pm_intro a:hover {
	color: #fff;
	text-decoration: none;
}

.sponsor {
	position: fixed;
	width: 200px;
	bottom: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #e1e1e1;
	overflow: hidden;
}

.sponsor a {
	color: #00aeef;
}

.menu_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	display: none;
}

.wrap_menu_overlay {
	width: 100%;
    height: 100%;
    position: fixed; 
}

.wrap_menu_overlay.select {
	background-color: rgba(0, 0, 0, .5);
}

.proj_menu_lvl2 {
	position: fixed;
	top: 60px;
	width: 290px;
	height: 100%;
	box-sizing:border-box;
	background-color: #fff;
	z-index: 21;
  	margin-left: 257px;
	padding: 30px;
	display: none;
	overflow-y: auto;
}

.proj_menu_lvl2.shown {
	left: 340px;
}

.pm_article_link {
	display: block;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 20px;
	color: #0080e3;
	transition:250ms;
	/*font-weight: bold;*/
}

.pm_article_link:hover {
	color: #ff4019;
}

.proj_art_wrapper {
	width: 1060px;
	margin: 0 auto;
	position: relative;
	box-sizing:border-box;
	background-color: #fff;
	min-width: 1000px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#363636+0,363636+37,ffffff+37,ffffff+100 */
	background: #363636; /* Old browsers */
	background: -moz-linear-gradient(left,  #363636 0%, #363636 260px, #ffffff 260px, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#363636), color-stop(260px,#363636), color-stop(260px,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #363636 0%,#363636 260px,#ffffff 260px,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #363636 0%,#363636 260px,#ffffff 260px,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #363636 0%,#363636 260px,#ffffff 260px,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #363636 0%,#363636 260px,#ffffff 260px,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.proj_jumbo {
	height: 300px;
	background-size: cover;
	position: relative;
	width: 803px;
  	margin-left: 257px;
}

.pj_overlay {
	height: 300px;
	background-color: rgba(0, 0, 0, .5);
	position: relative;
}

.pj_overlay h1 {
	position: absolute;
	bottom: -11px;
	font-size: 52px;
	line-height: 52px;
	left: 30px;
	bottom: 30px;
	font-weight: bold;
	color: #fff;
}

.proj_article_text {
	padding: 25px;
	font-size: 16px;
	line-height: 22px;
	width: 800px;
	margin-left: 260px;
	box-sizing: border-box;
}

.proj_article_text p.announcement {
	font-size: 20px;
	line-height: 24px;
}

.proj_menu.fixed, .menu_overlay.fixed {
	position: absolute;
	/*height: 100%!important;*/
}

.proj_article_text img {
	max-width: 680px;
	/*width: 100%;*/
	padding: 0!important;
}

/* AFISHA */

.datenav {
	background-color: #fff;
	position: relative;
}

.dn_in {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}

.date_select {
	padding: 0 40px 0 5px;
	font-size: 16px;
	/*height: 30px;*/
	font-weight: bold;
	font-family: 'PT sans';
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
  	appearance: none!important;
  	background-image: url("/img/ev_arr_v2.png");
  	background-position: right 13px center;
  	background-repeat: no-repeat;
  	float: left;
  	border: 1px solid #ccc;
  	background-color: #fff;
  	border-radius: 3px;
  	cursor: pointer;
}

.date_select:focus {
	outline: none;
}

select::-ms-expand {
  display: none;
}

.month_switch {
	float: right;
  height: 30px;
  margin-left: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 15px;
  line-height: 27px;
  font-size: 16px;
  font-weight: bold;
}

.events_list {
	max-width: 1060px;
	margin: 0 auto;
	padding-top: 20px;
}

.day_llist {
	margin-bottom: 40px;
}

.day_date {
	font-size: 32px;
	margin-bottom: 20px;
}

.day_date span {
	font-weight: bold;

}

.el_wider {
	width: 1060px;
	overflow: hidden;
}

.ei_pic img,
.ei_pic {
	width: inherit;
}

.ei_pic img {
	width: 190px;
	height: 100%;
}

.ev_item {
	width: 190px;
	margin: 0 10px;
	float: left;
	background-color: #fff;
	margin-bottom: 30px;
}

.ev_item:nth-child(4n+1) {
	margin-left: 0;
}

.ev_item:nth-child(4n+4) {
	margin-right: 0;
}

.ev_item .grey_name {
	color: rgba(0,0,0,.6);
	padding-left: 20px;
    font-weight: 400;
    font-size: 13px;
}

.ei_name {
	height: 50px;
	max-height: 50px;
	overflow: hidden;
	width: 250px;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	margin: 0 0 65px 0;
    padding:0 20px;
}

.datenav.bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
}

/* ARTICLES */

.articles_nav {
	padding: 20px 0;
	background-color: #fff;
}

.articles_narrow {
	width: 1060px;
	margin: 0 auto;
	overflow: hidden;
}

.art_nav_link {
	float: left;
	margin-right: 10px;
	height: 30px;
	padding: 0 15px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 28px;
}

.art_nav_link.selected {
	background-color: #ffb82c;
	border-color: #ffb82c;
	color: #fff;
}

.art_items_list {
	padding-top: 20px;
}

.art_nav_link.more {
	margin-bottom: 20px;
}



/*ARTICLE v2*/



.maintop.arttop, .maintop.projtop {
	width: auto;
	top: 30px;
	left: 30px;
	right: 30px;
	position: absolute;
	/*height: 420px;*/
}

.edit_ctrl.default {
	position: fixed;
	left: 50%;
	margin-left: 194px;
	background-color:  #84A1CD;
}

.edit_ctrl {
 	float: right;
    width: 50px;
    height: 30px;
    background: url('/img/edit.png') center no-repeat rgba(0, 0, 0, .25);
    border-radius: 3px;
    transition: 250ms;
    margin-left: 5px;
}

.edit_ctrl:hover {
	background-color: #000;
}


.post {
	margin-bottom: 50px;
}

.maintop {
  width: 660px;
  /*height: 320px;*/
  background-size: cover;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  /*background-color: #000;*/
  overflow: hidden;
  margin-bottom: 20px;
}

.maintop.arttop .imagediv, .maintop.projtop .imagediv {
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	width: 1060px;
	height: 420px;
	position: absolute;
	z-index: 0;
	opacity: .5
}

.maintop.arttop .texts, .maintop.projtop .texts {
  position: absolute;
  left: 0;
  right: 0;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  bottom: 26px;
}

.maintop.projtop .texts {
	bottom: 40px;
}

.maintop.arttop h1, {
	font-size: 58px;
	line-height: 58px;
}

.maintop.projtop h1 {
	font-size: 48px;
	margin-bottom: 140px;
	text-align: center;
}

.maintop.arttop .art_controls, .maintop.projtop .art_controls {
	position: relative;
	z-index: 1;
	background-color: transparent;
	height: initial;
	border-bottom: none;
}

.maintop.arttop .art_controls .backbut, .maintop.projtop .art_controls .backbut {
  	width: 80px;
  	height: 30px;
  	color: #fff;
  	border-radius: 3px;
  	line-height: 28px;
  	transition: 250ms;
  	text-align: left;
  	padding-left: 27px;
  	box-sizing:border-box;
  	background: url("/img/back.png") 11px no-repeat rgba(0, 174, 239, .75);
}

.maintop.arttop .art_controls .backbut:hover, .maintop.projtop .art_controls .backbut:hover {
	background-color: rgba(0, 174, 239, 1);
}

.maintop.arttop .art_in_in, .maintop.projtop .art_in_in {
	width: 100%;
	height: 30px;
}

.maintop.arttop p, .maintop.projtop p {
	text-transform: uppercase;
}

.maintop.arttop.noposter {
	background-color: #fff;
	height: auto;
	padding-top: 68px;
	margin-bottom: 0;
}

.noposter .texts, .noposter .date {
	color: #252525;
}

.maintop.arttop.noposter .texts {
	display: block;
	position: relative;
	margin-top: 30px;
}

.maintop.arttop.noposter .art_controls {
	position: absolute;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 0;
}

.maintop.arttop .art_controls.fixed, .maintop.projtop .art_controls.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}



.posttext div.img_container, .froala-wrapper div.img_container, .froala-view div.img_container, .proj_art_content div.img_container, .proj_article_text div.img_container{
	text-align: center;
	background-color: #f5f5f5;
	margin-bottom: 0;
	padding: 0;
}

.posttext {
	float: left;
}

.imgdesc {
	text-align: left;
}

.foot_bottom {
	overflow: hidden;
	padding-bottom: 0px;
}

.social span {
	top: -14px;
  	position: relative;
  	margin-right: 20px;
}

.copyright {
	color: rgba(37, 37, 37, .75);
	float: left;
}

.posttext p.announcement {
	font-size: 26px;
	line-height: 30px!important;
}

.maintop h1 {
  font-family: 'proxima_nova', sans-serif;
  font-size: 58px;
  line-height: 58px;
  font-weight: bolder;
}

.maintop.arttop p, .maintop.projtop p {
  text-transform: uppercase;
}
.arttop .date, .arttop .date a {
  font-size: 14px;
  border: 0;
  color: rgba(255, 255, 255, .5);
}

.arttop .date a {
	transition:250ms;
}

.arttop .date a:hover {
	color: #ff4019;
}

.maintop p {
  font-size: 22px;
  line-height: 23px;
  opacity: .8;
  max-height: 69px;
  overflow: hidden;
  margin-top: 20px;
}
.date {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
  font-weight: bold;
}

.art_controls .inner {
  height: 30px;
}
.inner {
  /*width: 1060px;*/
  box-sizing: border-box;
  margin: 0 auto;
}

.art_narrow {
	width: 1060px;
	margin: 0 auto;
	padding: 30px 30px 10px 30px;
}

.posttext {
	width: 660px;
}

.posttext, .froala-wrapper, .froala-view, .proj_art_content, .posttext *, .froala-wrapper *, .froala-view *, .proj_art_content * {
	font-size: 16px;
	line-height: 22px!important;
	font-family: 'PT Sans', sans-serif;
	word-wrap: break-word;
}

.wrap_proj_art {
	background-color: #363636;
}

/*.posttext h3, .froala-wrapper h3, .froala-view h3, .posttext h3>*, .froala-wrapper h3>*, .froala-view *>h3, .posttext *>h3, .froala-wrapper *>h3, .froala-view *>h3, .froala-view *>*>h3, .posttext *>*>h3, .froala-wrapper *>*>h3, .froala-view *>*>*>h3, .posttext *>*>*>h3, .froala-wrapper *>*>*>h3, .froala-view *>*>*>h3, .froala-view h3>*>*, .posttext h3>*>*, .froala-wrapper h3>*>*, .froala-view h3>*>*, .posttext h3>*>*>*, .froala-wrapper h3>*>*>*, .froala-view h3>*>*>* {
	font-size: 24px!important;
	margin-top: 20px;
  	margin-bottom: 10px;
}*/

.posttext img, .froala-wrapper img, .froala-view img {
	display: block!important;
	margin: 0 auto!important;
	padding: 0!important;
}

.posttext img {
	max-width: 660px;
	/*width: 100%;*/
}

.event_bigdesc h6, .posttext h6, .froala-wrapper h6, .froala-view h6, .proj_article_text h6, .posttext h6>*, .froala-wrapper h6>*, .froala-view h6>*, .proj_article_text h6>*, .posttext h6>*>*, .froala-wrapper h6>*>*, .froala-view h6>*>*, .proj_article_text h6>*>* {
  	font-size: 14px;
  	line-height: 16px;
  	font-style: italic;
  	box-sizing: border-box;
  	margin-top: -10px;
  	color: #898989;
  	margin: 0!important;
}

.froala-editor .fr-dropdown .fr-dropdown-menu li a.format-h6 {
	font-size: 14px;
	font-style: italic;
	color: #898989;
}

.posttext b {
	font-weight: bold;
}

.posttext a, .posttext a>* {
	color: #0080e3;
}

.posttext div {
	margin-bottom: 10px;
}

.posttext p, .froala-wrapper p, .froala-view p {
	margin-bottom: 24px!important;
}

.posttext iframe {
	max-width: 660px !important;
}

.posttext ul, .posttext ol {
	list-style-position: inside;
}

.posttext blockquote, .event_bigdesc blockquote, .froala-wrapper blockquote, .froala-view blockquote, .proj_article_text blockquote {
  position: relative;
  margin: 0;
  padding: 0 0 0 4em!important;
  quotes: "\201c" "\201d";
  font-size: 20px;
  font-style: italic;
  line-height: 24px!important;
  color: #707070;
  margin-left: 0!important;
  border-left: none!important;
}

.froala-wrapper blockquote, .froala-view blockquote {
	overflow: visible!important;
	min-height: 33px;
}

.posttext blockquote:before, .event_bigdesc blockquote:before, .froala-wrapper blockquote:before, .froala-view blockquote:before, .proj_article_text blockquote:before {
  position: absolute;
  left: 0;
  top: 11px;
  color: #707070;
  content: open-quote;
  font-family: 'PT Sans', sans-serif;
  font-size: 116px;
  line-height: .7em;
}

.posttext blockquote:before, .event_bigdesc blockquote:before {
	left: -13px;
}

.posttext blockquote, .event_bigdesc blockquote {
	padding: 0px 30px 0 50px!important;
}

.likes {
	margin-top: 30px;
  	border-top: 1px solid #ebebeb;
  	width: 660px;
  	padding-top: 30px;
  	text-align: center;
  	float: left;
}

.noposter .texts, .noposter .date, .noposter .date a {
	color: #252525;
}

/* ABOUT - FROM V1 */

.about {
  font-family: 'PT Sans', sans-serif;
}

h1.about {
  font-size: 48px;
  margin-bottom: 35px;
}

h2.about {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 35px;
}

p.about, ul.about {
  font-size: 16px;
  line-height: 25px;
}

ul.about {
  margin-top: 35px;
  list-style: none;
}

ul.about li {
  border-left: 3px solid #0080e3;
  margin-bottom: 25px;
  padding-left: 10px;
  line-height: 20px;
}

.project_partners {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.partners_table {
  width: 100%;
  margin-bottom: 62px;
}

.partners_table td {
  border: 1px solid #ebebeb;
  height: 170px;
  text-align: center;
  vertical-align: middle;
}

.about_narrow {
	width: 1000px;
	margin: 0 auto;
}

/* LOGIN */

.login-form {
  font-family: 'PT Sans', sans-serif;
}

.login {
  padding-top: 180px;
  text-align: center;
}

.login img {
  margin-bottom: 50px;
}

.login-form input {
  width: 220px;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

.login-form input.login_button {
  width: 220px;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(0, 120, 231, 1);
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  transition: 250ms;
}

.event_bigdesc h1,
.posttext h1 {
	display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.event_bigdesc h2,
.posttext h2{
	display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.event_bigdesc h3,
.posttext h3{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.event_bigdesc h4,
.posttext h4{
	display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.event_bigdesc h5,
.posttext h5{
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
