/*fonts*/
@font-face {
    font-family: 'Corbel_Italic';
    src: url('/fonts/Corbel_Italic.eot');
    src: url('/fonts/Corbel_Italic.eot') format('embedded-opentype'),
         url('/fonts/Corbel_Italic.woff2') format('woff2'),
         url('/fonts/Corbel_Italic.woff') format('woff'),
         url('/fonts/Corbel_Italic.ttf') format('truetype'),
         url('/fonts/Corbel_Italic.svg#Corbel_Italic') format('svg');
}

@font-face {
    font-family: 'proxima_nova';
    src: url('/fonts/proxima_nova_thin-webfont.eot');
    src: url('/fonts/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
         url('/fonts/proxima_nova_thin-webfont.woff') format('woff'),
         url('/fonts/proxima_nova_thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('/fonts/ProximaNovaLight.eot');
    src: url('/fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('/fonts/ProximaNovaLight.woff2') format('woff2'),
         url('/fonts/ProximaNovaLight.woff') format('woff'),
         url('/fonts/ProximaNovaLight.ttf') format('truetype'),
         url('/fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}

@font-face {
    font-family: 'proxima_nova';
    src: url('/fonts/proxima_nova_regular-webfont.eot');
    src: url('/fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('/fonts/proxima_nova_regular-webfont.woff') format('woff'),
         url('/fonts/proxima_nova_regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova';
    src: url('/fonts/proxima_nova_semibold-webfont.eot');
    src: url('/fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('/fonts/proxima_nova_semibold-webfont.woff') format('woff'),
         url('/fonts/proxima_nova_semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova';
    src: url('/fonts/proxima_nova_bold-webfont.eot');
    src: url('/fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('/fonts/proxima_nova_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

/*end fonts*/

/*reset*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: 0;
    vertical-align: baseline;
}
body{-webkit-font-smoothing: antialiased; font-size: 100%;}
ol, ul{list-style-type:none;}
a, a:hover{text-decoration: none;}
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{clear: both;}
.left{float: left;}
.right{float: right;}
.text-right{text-align: right;}
.text-left{text-align: left;}
/*end reset*/

html {
	background-color: #ececec;
}

select {
	cursor: pointer;
}
/*min width*/
 .header, .datepicker, .wrapper_block, .footer {
 	min-width: 980px;
 }
/**********/

.main_menu a:hover {
	color: rgba(0, 128, 227, 0.5)!important;
}

.main_menu li.active a:hover,
.about_proj.active:hover {
	color: #0080e3!important;
}

.about_proj.active {
	color: #0080e3!important;
}

.wrapper_block {
	width: 100%;
	background-color: #ededed;
	padding-bottom: 20px;
}

.wrap_afisha {
	min-height: calc(100% - 220px);
}

.wrapper_block > div:last-child {
	margin-bottom: 0;
}

.header {
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.datepicker_wrap {
	text-align: center;
	margin-bottom: 30px;s
}

.active {
	border-bottom: 2px solid #0080e3;
	color: #0080e3;
}

.active a{
	color: #0080e3!important;
}

.main_menu {
	position: relative;
}

.main_menu ul {
	text-align: center;
}

.main_menu li,
.about_proj {
	display: inline-block;
	padding: 14px 0;
	margin-right: 30px;
}

.main_menu a {
	height: 58px;
    display: block;
    padding: 14px 0;
}

.main_menu li {
	padding: 0;
}

.main_menu li:first-child {
	margin-left: 35px;	
}

.main_menu li a,
.about_proj {
	color: #252525;
	font: 700 16px/30px "proxima_nova";
	text-transform: uppercase;
	letter-spacing: 1px;
}

.logo {
    background: url(/img/logo.png) no-repeat center/ 100%;
  	width: 55px;
  	height: 25px;
  	display: inline-block;
  	-webkit-background-size: contain;
  	background-size: contain;
  	float: left;
  	margin-left: 30px;
    margin-top: 15px;
    position: relative;
    z-index: 2;
}

.about_proj {
	float: right;
	position: relative;
    z-index: 2;
}

.main_menu .logo img {
	width: inherit;
	height: inherit;
}

.main_menu li:last-child {
	margin-right: 0;
}

.block {
	max-width: 1060px;
	margin: 0 auto;
	position: relative;
    height: auto;
    width: 100%;
}

.block_wrap {
	padding: 15px 20px 25px 20px;
}

.bank {
	height: 270px;
	background-color: #fff;
}

.block_news_1_1_img .block_wrap,
.block_news_1_1 .block_wrap,
.block_news_1_2 .block_wrap,
.block_news_img_3 .block_wrap {
	padding-bottom: 40px!important;
}

.grey_name {
	font: 700 14px/30px 'proxima_nova';
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main_title {
	font: 700 48px/48px 'proxima_nova';
}

.banner_with_title,
.block_banner,
.block_banner img {
    width: inherit;
    height: 420px;
}

.block_news_img_3_small .main_news_img:after,
.block_news_img_4_small .main_news_img:after,
.block_news_1_1_img_small .main_news_img:after,
.block_news_img_3 .main_news_img:after {
	opacity: .4!important;
}

.block_news_img_3_small .main_news_img.hover.activee:after,
.block_news_img_4_small .main_news_img.hover.activee:after,
.block_news_1_1_img_small .main_news_img.hover.activee:after,
.block_news_img_3 .main_news_img.hover.activee:after {
	opacity: .6!important;
}

.post a.banner img {
	float: right;
}

.block_news_1_1_img .main_news_img,
.block_news_1_1_img_small .main_news_img {
	height: 280px;
	position: relative;
}

.block_news_1_1_img_small td,
.block_news_img_3_small td,
.block_news_img_4_small td,
.block_news_img_4 td,
.block_news_img_3 td {
	position: relative;
}

.block_news_img_3_small .grey_name {
	position: relative;
}

.xdsoft_datetimepicker {
    left: 50%!important;
    top: 140px!important;
    margin-left: -121px!important;
}


.block_news_1_1_img_small td:nth-child(n) .main_news_img::after,
.block_news_img_3_small td .main_news_img::after,
.banner_with_title:after,
.block_news_img_4_small td:nth-child(n) .main_news_img::after,
.block_news_img_3 td:nth-child(n) .main_news_img::after {
	content: ' ';
	background-color: #000;
	height: inherit;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: 250ms;
}

.block_news_img_3_small td .main_news_img,
.block_news_img_3 td .main_news_img {
	height: 250px;
}

.block_news_img_4_small td .main_news_img,
.block_news_img_4 td .main_news_img {
	height: 180px;
}

.block_news_1_1_img_small table,
.block_news_img_3_small table,
.block_news_img_4_small table {
	width: 100%;
}

.block_news_1_1_img_small .block_wrap,
.block_news_img_3_small .block_wrap,
.block_news_img_4_small .block_wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.banner_with_title .main_title,
.block_banner .main_title {
	color: #fff;
}

.block_text {
	position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    z-index: 2;
}
/*title_no_img*/
.title_no_img {
	background: #fff;
	max-height: none;
	padding-bottom: 100px;
}

.title_no_img .grey_name,
.block_news_1_2 .grey_name,
.block_news_2_1 .grey_name,
.block_news_1_1 .grey_name,
.block_news_1_1_img .grey_name,
.block_news_img_3 .grey_name,
.block_news_3 .grey_name,
.block_news_4 .grey_name,
.block_news_img_4 .grey_name,
.bank_culture .grey_name {
	color: rgba(37,37,37, .5);
}

.title_no_img .main_title{
	color: #252525;
	font-weight: 600;
}

.block_news_4 .block_wrap {
	padding: 20px;
    padding-bottom: 45px;
}

/*block_news*/

.block_news_1_2,
.block_news_1_1,
.block_news_1_1_img,
.block_news_1_1_img_small {
	max-height: none;
}

.block_news_1_2 table,
.block_news_1_1 table {
	width: inherit;
	max-height: none;
}

.block_news_1_2 .grey_name,
.block_news_1_1 .grey_name,
.block_news_1_1_img .grey_name,
.block_news_1_1_img_small .grey_name,
.block_news_img_3_small .grey_name,
.block_news_img_4_small .grey_name,
.block_news_img_4 .grey_name,
.block_news_img_3 .grey_name,
.block_news_3 .grey_name,
.block_news_2_1 .grey_name,
.block_news_4 .grey_name,
.bank .grey_name {
	font: 600 11px/30px 'proxima_nova';
	letter-spacing: 1px;
}

.datepicker {
	margin-top: 30px;
}

.datepick {
	height: 20px;
	width: 115px;
	text-align: center;
	background-color: #ededed;
	border-bottom: 1px dashed rgba(137,137,137,.35);
	color: #898989;
	font-size: 11px;
	cursor: pointer;
	line-height: 15px;
}

.datepicker p {
	font: 400 11px/11px 'proxima_nova';
	color: #898989;
	display: inline-block;
	border-bottom: 1px dashed rgba(137,137,137,.35);
	line-height: 15px;
}

.datepicker h1 {
	font: 700 22px/22px 'proxima_nova';
	text-transform: uppercase;
	letter-spacing: 1px;
}

.block_news_img_3_small .main_title,
.block_news_img_3 .main_title,
.block_news_3 .main_title {
	font: 700 22px/24px 'proxima_nova';
}

.block_news_img_4_small .main_title,
.block_news_4 .main_title,
.block_news_img_4 .main_title {
	font: 700 17px/18px 'proxima_nova';
}

.block_news_img_3_small .main_title {
	color: #fff;
}

.block_news_img_4_small .main_title,
.block_news_img_4 .main_title {
	color: #ededed;
}

.block_news_img_3 .main_title,
.block_news_3 .main_title,
.block_news_4 .main_title,
.block_news_img_4 .main_title  {
	color: #252525;
}

.block_news_1_2 .main_title,
.block_news_2_1 .main_title,
.block_news_1_1 .main_title,
.block_news_1_1_img .main_title {
	font: 700 26px/28px 'proxima_nova';
	color: #252525;
}

.block_news_1_2 .title_small,
.block_news_2_1 .title_small {
	font: 700 17px/18px 'proxima_nova';
}


.block_news_1_1_img_small .main_title {
	font: 700 26px/32px 'proxima_nova';
	color: #fff;
}

/*.block_news_1_2 td:nth-child(2),
.block_news_2_1 td:nth-child(2) {
	border-right: 10px solid #ededed;
	border-left: 10px solid #ededed;
}

.block_news_1_1 td:nth-child(1n+1) {
	border-right: 10px solid #ededed;
	border-left: 10px solid #fff;
}

.block_news_1_2 td:nth-child(1),
.block_news_2_1 td:nth-child(1) {
	border-right: 10px solid #ededed;
	border-left: 10px solid #fff;
}

.block_news_1_2 td:nth-child(3),
.block_news_2_1 td:nth-child(3),
.block_news_1_1 td:nth-child(2){
	border-right: 10px solid #fff;
	border-left: 10px solid #ededed;
}

.block_news_img_3_small td:nth-child(1),
.block_news_img_4_small td:nth-child(1),
.block_news_img_4 td:nth-child(1),
.block_news_img_3 td:nth-child(1),
.block_news_3 td:nth-child(1),
.block_news_4 td:nth-child(1) {
	border-right: 10px solid #ededed;
}

.block_news_img_3_small td:nth-child(2),
.block_news_img_4_small td:nth-child(2),
.block_news_img_4_small td:nth-child(3),
.block_news_img_4 td:nth-child(2),
.block_news_img_4 td:nth-child(3),
.block_news_img_3 td:nth-child(2),
.block_news_4 td:nth-child(2),
.block_news_4 td:nth-child(3),
.block_news_3 td:nth-child(2) {
	border-right: 10px solid #ededed;
	border-left: 10px solid #ededed;
}

.block_news_img_3_small td:nth-child(3),
.block_news_img_4_small td:nth-child(4),
.block_news_img_4 td:nth-child(4),
.block_news_img_3 td:nth-child(3),
.block_news_4 td:nth-child(4),
.block_news_3 td:nth-child(3) {
	border-left: 10px solid #ededed;
}
*/
.block_news_1_2 td:nth-child(1),
.block_news_1_1 td:nth-child(1),
.block_news_2_1 td:nth-child(3),
.block_news_1_1 td:nth-child(2),
.block_news_1_1_img td, 
.block_news_1_1_img_small td {
	width: 50%;
}

.block_news_1_2 td:nth-child(2),
.block_news_2_1 td:nth-child(1),
.block_news_2_1 td:nth-child(2),
.block_news_1_2 td:nth-child(3) {
	width: 25%;
}

.block_news_img_3_small td,
.block_news_img_3 td, 
.block_news_3 td {
	width: 33.333%;
}

.block_news_img_4_small td,
.block_news_4 td,
.block_news_img_4 td {
	width: 25%;
}


.block_news_1_2 td:nth-child(3) .block_wrap,
.block_news_2_1 td:nth-child(3) .block_wrap,
.block_news_1_1 td .block_wrap {
	padding: 20px 10px 20px 20px;
}

.block_news_1_2 td:nth-child(1) .block_wrap,
.block_news_2_1 td:nth-child(1) .block_wrap,
.block_news_1_1 td:nth-child(1) .block_wrap {
	padding: 20px;
}

.block_news_1_2 td,
.block_news_2_1 td,
.block_news_1_1 td {
	background-color: #fff;
}

.block_news_1_1_img td:nth-child(n),
.block_news_img_3 td:nth-child(n),
.block_news_img_4 td:nth-child(n),
.block_news_4 td:nth-child(n),
.block_news_3 td:nth-child(n) {
	background-color: #fff;
}

/*.block_news_1_1_img td:nth-child(1),
.block_news_1_1_img_small td:nth-child(1){
	border-right: 10px solid #ebebeb;
}

.block_news_1_1_img td:nth-child(2),
.block_news_1_1_img_small td:nth-child(2) {
	border-left: 10px solid #ebebeb;
}*/

.main_menu li:hover, .about_proj:hover {
	color: rgba(0, 128, 227, 0.5)!important;
}

.hover.activee:after {
	content: ' ';
    background-color: #000;
    height: inherit;
    opacity: .3!important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.banner_with_title.hover.activee:after {
	opacity: .5!important;
}

table {
	/*border-collapse: collapse;*/
}

td {
	border: 10px solid #ededed;
	border-bottom: none;
	border-top: none; 
}

td:first-child {
	border-left: none;
}

td:last-child {
	border-right: none;
}

.link {
	display: block;
	position: relative;
}

.footer {
	background-color: #fff;
	position: relative;	
    height: 220px;
}

.body_wrap {
	min-height: 100%;
	margin-bottom: -220px;
}

.foot_top {
	padding-top: 40px;
    border-bottom: 1px solid #ededed;
}

.foot_bottom {
    overflow: hidden;
    padding-bottom: 0px;
}

.foot_bottom .foot_narrow {
	padding: 20px 10px 5px 10px;
}

.foot_bottom .copyright {
	float: left;
}

.text_mail,
.bank_text {
	font: 400 14px/20px 'proxima_nova';
	color: #252525;
}

.text_mail {
	float: left;
	padding-bottom: 5px;	
}

.bank .block_text {
	top: 20px;
}

.bank .grey_name {
	padding-bottom: 20px;
}

.feedback {
	float: right;
	margin-right: 95px;
}

.copyright {
    color: rgba(37, 37, 37, .75);
}

.feedback .copyright {
	padding-bottom: 25px;
}

.feedback_mail_form {
	width: 300px;
    margin-bottom: 40px;
    position: relative;
}

.feedback_mail_form img {
	position: absolute;
	left: calc(50% - 8px);
	top: calc(50% - 4.5px);
}

.wrap_arrow_feedback {
    width: 40px;
    height: 30px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: -10px;
    left: -27px;
}

.feedback_mail_form input {
	float: left;
    height: 20px;
    padding: 0 20px 0 0;
    margin-top: -1px;
    border-bottom: 1px solid #898989;
    width: 250px;
}

.byfoxima {
    float: right;
    position: relative;
    top: -10px;
}

.byfoxima a {
	border-bottom: none!important;
	text-decoration: underline;
	position: relative;
	left: -10px;
	text-transform: none!important;
}

.footer a {
    color: #0080e3;
    text-transform: uppercase;
    font: 400 13px/20px 'proxima_nova';
    transition: 250ms;
   border-bottom: 1px solid rgba(0,128,227, .2);
}

.footer a:hover {
	color: #ff4019; 
	border-bottom-color:transparent;
	text-decoration: none;
}

.byfoxima img {
    position: relative;
    top: 5px;
    right: 135px;
    margin-left: 0;
    margin-right: 0;
}

.foot_narrow {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.foot_narrow > p,
.feedback .copyright {
	font: 400 14px/15px 'proxima_nova';
	color: #000;
	opacity: .75;
}

.foot_cell:nth-child(2) {
    margin-right: 0;
}

.wrapper_block > .block,
.wrapper_block > a > .block {
	margin-top: 20px;
}

.foot_cell {
    float: left;
    margin-right: 120px;
}

.foot_cell_heading {
    font: 700 12px/15px 'proxima_nova';
    color: #363636;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social_icon {
	position: relative;
}

table {
	width: 100%;
}

.proj_art_wrapper .wrap_social {
	width: 803px;
	border-left: none;
	border-right: none;
}

.wrap_social {
	box-sizing: content-box;
}

.social_icon.default {
	position: fixed;
	top: 0;
    z-index: 20;
    /*background-color: rgba(255,255,255,.9);*/
    transition: all .250s;
    height: 30px;
    width: 1060px;	
}

.proj_menu.default {
	position: fixed;
	top: 0;
    z-index: 20;
}

.default .b-share-counter,
.default .btn_back,
.default .btn_back:hover {
	color: #fff;
}

.default .btn_back_soc:before {
	background-position-y: -9px;
}

.default .wrap_social {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.3);
	transition: all .250s;
}

.default .btn_back_soc,
.default .b-share-btn__wrap {
	border-color: rgba(0,0,0,.3);
}

.block_banner {
	margin-bottom: 10px;
}

/*social*/
.btn_back_soc {
	float: left;
	width: 120px;
    height: inherit;
    border-right: 1px solid rgba(255,255,255,.3);
    opacity: 1;
}

.btn_back_soc a.btn_back:hover {
	color: rgba(255,255,255,.7)!important;
	text-decoration: underline;
}

.social_icon.default .btn_back:hover {
	color: rgba(0,0,0,.7)!important;
}

.default .btn_back:hover {
	text-decoration: underline;
	color: rgba(0,0,0,.7)!important;
}

.btn_back {
	font: 700 13px/20px 'proxima_nova';
	color: rgba(255,255,255,.7);
	width: inherit;
    height: inherit;
    display: block;
    padding: 15px 30px;
    text-align: center;
}

.wrap_social {
    width: 1060px;
    height: 52px;
    position: relative;
    top: 0;
    z-index: 30;
    border: 1px solid rgba(255,255,255,.3);
}

.btn_back:hover {
	color: rgba(255,255,255,.7);
}

.menu_overlay.default {
	top: 0;
}

.btn_back_soc:before {
	content: '';
    background: url(/img/arrow_img.png)no-repeat;
    width: 20px;
    height: 9px;
    display: block;
    float: left;
    background-size: 6px;
    position: relative;
    top: 20px;
    left: 20px;
    background-position-y: 0px;
}

.b-share_theme_counter .b-share_type_small .b-share__link {
	border-radius: 3px;
    background-color: rgba(0,0,0,.25);
    transition: 250ms;
    line-height: 30px;
    min-width: 50px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-top: 1px solid transparent;
}

.b-share_theme_counter .b-share_type_small .b-share__link:hover {
    background-color: rgba(0,0,0,.8);
}

.b-share_theme_counter {
	float: right;
    height: inherit;
}

.b-share_type_small,
.b-share-btn__wrap,
.b-share-btn__wrap,
.b-share-btn__wrap > a {
	height: inherit;
	width: inherit;
	display: inline-block;
	margin-left: 5px;
}



.b-share-counter {
	font: 400 13px/20px 'proxima_nova';
	color: #fff;
	position: relative;
	min-width: 15px;
	display: inline-block;
    top: -2px;
    left: 3px;
}

.b-share-icon {
	width: 19px;
    height: 15px;
    display: inline-block;
}

/*.b-share-btn__wrap > a {
    padding: 15px 25px;
}*/

.b-share-btn__wrap > a:hover .b-share-icon_vkontakte {
	background: url(/img/soc.png)no-repeat;
	transition: all .250s;
	background-position: -8px -17px;
}

.b-share-icon_vkontakte {
	background: url(/img/soc.png)no-repeat;
	background-position: -8px 0;
	transition: all .250s;
}

.b-share-icon_facebook {
	background: url(/img/soc.png)no-repeat;
	background-position: 11px 0;
	transition: all .250s;
}

.b-share-btn__wrap > a:hover .b-share-icon_facebook {
	background: url(/img/soc.png)no-repeat;
	background-position: 11px -16px;
	transition: all .250s;
}

.b-share-icon_twitter {
	background: url(/img/soc.png)no-repeat;
	background-position: -27px 0px;
	transition: all .250s;
	width: 16px;
}

.b-share-btn__wrap > a:hover .b-share-icon_twitter {
	background: url(/img/soc.png)no-repeat;
	background-position: -27px -16px;
	transition: all .250s;
	width: 16px;
}
/*end social*/

/*банк культуры*/
.bank_culture {
	/*min-height: 265px;*/
	width: 100%;
	background-color: #fff;
	padding: 20px;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.bank_culture_center,
.bank_culture_bottom {
	font: 400 14px/20px 'proxima_nova';
	color: #252525;
	padding: 25px 0;
}

.bank_culture_center:last-child {
	padding-bottom: 0;
}

.bank_culture_center {
	border-top: 1px solid rgba(0,0,0,.1);
}

.bank_culture_top {
	padding-bottom: 20px;
}

.bank_culture_controlers .right_controler,
.bank_culture_controlers .left_controler {
	height: 50px;
	display: inline-block;
	width: 50px;
	position: relative;
	z-index: 2;
	top: -5px;
}

.bank_culture_controlers .right_controler {
	background: url(/img/right_controler.png)no-repeat center;
	cursor: pointer;
	position: absolute;
    right: -20px;
}

.bank_culture_controlers .left_controler {
	background: url(/img/left_controler.png)no-repeat center;
	position: absolute;
	cursor: pointer;
    left: -20px;
}


.bank_culture_controlers {
	height: 40px;
	margin-top: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	position: relative;
	padding: 0 20px;
}

.left_controler.op, .right_controler.op {
    opacity: .2;
}

.op {
    background: #0080e3;
	color: #fff; 
	text-decoration: none!important;
	font-size: 13px!important;
}

.bank_culture_top .grey_name {
	line-height: 14px;
}

#list {
   padding: 0;
   display: block; 
   position: absolute;
   top: 0; 
   left: 0;
   height: inherit;
   width: inherit;
}

#list li {
    width: 54px;
    list-style: none;
    float: left;
    cursor: pointer;
    height: 40px;
    text-align: center;
    font: 600 11px/40px 'proxima_nova';
    text-decoration: underline;
    transition: background .150s;
}

.viewport {
    position: relative;
    overflow: hidden;
    height: inherit;
}

.main_news_img:after {
    content: ' ';
    background-color: #000;
    height: inherit;
    opacity: 0!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 250ms;
}

#list > li:hover {
	background: rgba(0,128,227,.4);
	transition: background .150s;
	color: #fff;
	text-decoration: none;
}

#list > li.op:hover {
	background: #0080e3;
} 

.blank_image{
	display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 45px;
    opacity: .25;
}
.grey_empty{
	font: 22px/22px 'ProximaNovaLight';
    text-align: center;
    display: block;
    color: #898989;
    margin-bottom: 25px;
}
.bluebutt_back{
	font: 700 12px/12px 'proxima_nova';
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	width: 280px;
	height: 40px;
	background-color: #0080E3;
	padding: 15px 20px;
	margin: 0 auto;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
	display: block;
}
.bluebutt_back:hover{
	opacity: .8;
	transition: 250ms;
}
/*activate*/




/*media*/
@media only screen and (max-width: 60em){}

@media only screen and (max-width: 30em){}