<title>
	{{if .Title}}
		{{.Title}}
	{{else}}
		1576
	{{end}}
</title>

<script src="/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/html5imageupload.js"></script>