
@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot?#iefix') format('embedded-opentype'),  url('Calibri.woff') format('woff'), url('Calibri.ttf')  format('truetype'), url('Calibri.svg#Calibri') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Calibri';
  src: url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),  url('Calibri-Bold.woff') format('woff'), url('Calibri-Bold.ttf')  format('truetype'), url('Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Calibri';
  src: url('Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Calibri-BoldItalic.woff') format('woff'), url('Calibri-BoldItalic.ttf')  format('truetype'), url('Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Calibri';
  src: url('Calibri-Italic.eot?#iefix') format('embedded-opentype'),  url('Calibri-Italic.woff') format('woff'), url('Calibri-Italic.ttf')  format('truetype'), url('Calibri-Italic.svg#Calibri-Italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('Calibri-Light.eot?#iefix') format('embedded-opentype'),  url('Calibri-Light.woff') format('woff'), url('Calibri-Light.ttf')  format('truetype'), url('Calibri-Light.svg#Calibri-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Calibri';
  src: url('Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Calibri-LightItalic.woff') format('woff'), url('Calibri-LightItalic.ttf')  format('truetype'), url('Calibri-LightItalic.svg#Calibri-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
